@model SNAPME.Tokens.Admin.SellerToken
@{
    ViewBag.Title = "Create Seller";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>
        Register Seller
    </h2>
    <hr />
    @using (Html.BeginForm("Create", "Seller", new { area = "Admin" }, FormMethod.Post, new { id = "frmSellerDetails" }))
    {
        @Html.Partial("_Details", Model)
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/admin")
}

