@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
.field-validation-error,
.validation-summary-errors {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  color: #F44336;
}
body {
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Open Sans', GillSans, Calibri, Trebuchet, sans-serif;
  font-weight: normal !important;
}
hr {
  border: none;
  border-top: 1px solid grey;
}
form {
  margin-top: 20px;
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffde00;
  box-shadow: 0 1px 0 0 #ffde00;
}
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ffde00;
}
.input-field .prefix.active {
  color: #ffde00;
}
main {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
nav {
  color: #333333;
  background-color: #ffffff;
}
nav .brand-logo {
  background: rgba(0, 0, 0, 0) url(/Content/Images/logo.png) no-repeat center center;
  width: 136px;
  height: 64px;
}
nav .nav-avatar {
  width: 56px;
  height: 64px;
  padding: 7px 3px;
}
nav ul a {
  color: #333333;
}
nav a {
  color: #333333;
}
#logoutForm {
  margin-top: 0;
  display: none;
}
footer.page-footer {
  background-color: #464646;
}
footer.page-footer h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: #383838;
  font-size: 1.2rem;
}
footer.page-footer li > a {
  color: #ffffff;
}
.dropdown-content li > a,
.dropdown-content li > span {
  color: #333333;
}
.header {
  height: 225px;
  background: transparent url(/Content/Images/header.jpg) no-repeat center center;
}
/*background-color: #f1f1f1;*/
.tabs .indicator {
  background-color: #ffde00;
}
.tabs.main-tabs {
  border-radius: 4px;
  margin-top: -25px;
  margin-bottom: 40px;
}
.tabs .tab a {
  color: #cccccc;
  font-size: 1.2rem;
  border-left: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
}
.tabs .tab a:hover {
  color: #ffde00;
}
.tabs .tab a.active {
  color: #333333;
  /*background-color: #F1F1F1;*/
}
.tabs .tab.first a {
  border-top-left-radius: 4px;
  border-left: none;
}
.tabs .tab.last a {
  border-top-right-radius: 4px;
  border-right: none;
}
.product-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  position: relative;
  margin-bottom: 30px;
}
.product-box .face {
  cursor: pointer;
}
.product-box .back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  display: none;
}
.product-box .back .btn-flip-back {
  padding: 0 0.6rem;
  float: right;
  margin: -7px 1px 0 0;
}
.product-box .back h6 {
  font-size: 1.3rem;
  padding-left: 10px;
  line-height: 22px;
}
.product-box .back .feed-tabs {
  border-radius: 4px;
  margin-bottom: 10px;
  height: 32px;
}
.product-box .back .feed-tabs .tab {
  height: 32px;
  line-height: 32px;
}
.product-box .back .feed-tabs .tab a {
  color: #cccccc;
  font-size: 0.8rem;
}
.product-box .back .feed-tabs .tab a.active {
  color: #000;
}
.product-box .back .feed-tabs .tab.first a {
  border-top-left-radius: 4px;
  border-left: none;
}
.product-box .back .feed-tabs .tab.last a {
  border-top-right-radius: 4px;
  border-right: none;
}
.product-box .back .scroll-container {
  overflow: hidden;
}
.product-box .back .collection {
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.product-box .back .collection li .preloader-wrapper {
  margin: 10px 0;
}
.product-box .back .collection li span.title {
  font-size: 0.9rem;
}
.product-box .back .collection li span.timestamp {
  font-size: 0.8rem;
}
.product-box .product-box-title {
  font-size: 1.2rem;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
}
.product-box .product-box-image {
  position: relative;
  padding-bottom: 120%;
  height: 0;
  overflow: hidden;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: contain;
}
.product-box .product-box-image .product-box-actions {
  position: relative;
  float: right;
  margin: 20px 10px 0 0;
  width: 37px;
}
.product-box .product-box-image .product-box-actions a {
  margin-bottom: 5px;
  background-color: rgba(158, 158, 158, 0.8);
}
.product-box .product-box-image .product-box-actions a:hover i.mdi-action-favorite {
  color: #EF3F6B;
}
.product-box .product-box-image .product-box-actions a:hover i.mdi-action-thumb-up {
  color: #41B4A9;
}
.product-box .product-box-image .product-box-actions a:hover i.mdi-social-group {
  color: #8FA4F4;
}
.product-box .product-box-image .product-box-actions a.active i.mdi-action-favorite {
  color: #EF3F6B;
}
.product-box .product-box-image .product-box-actions a.active i.mdi-action-thumb-up {
  color: #41B4A9;
}
.product-box .product-box-image .product-box-actions a.active i.mdi-social-group {
  color: #8FA4F4;
}
.product-box .product-box-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}
.product-box .product-box-footer .product-drops-counter {
  background-color: #ffde00;
  border-radius: 0 0 8px 8px;
  height: 35px;
  display: inline-block;
  text-align: center;
  padding: 8px 10px;
  margin-left: 20px;
}
.product-box .product-box-footer .product-sale-time {
  height: 35px;
  color: #ffffff;
  margin-left: 25px;
  line-height: 32px;
  letter-spacing: 3px;
  margin-right: 101px;
}
.product-box .product-box-footer .product-prices {
  float: right;
  height: 70px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-align: center;
}
.product-box .product-box-footer .product-prices .product-price-rrp {
  line-height: 24px;
  text-decoration: line-through;
}
.product-box .product-box-footer .product-prices .product-price-sale {
  line-height: 44px;
  font-size: 1.4rem;
  font-family: 'Ubuntu';
  font-weight: bold;
}
.btn-large.facebook {
  background-color: #0d47a1;
}
.product.details {
  padding: 60px 0 40px 0;
}
.product.details .bx-wrapper {
  margin-bottom: 0;
}
.product.details .bx-wrapper .bx-pager {
  bottom: 5px;
}
.product.details .bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(255, 255, 255, 0.4);
}
.product.details .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffde00;
}
.product.details .product-actions {
  position: absolute;
  margin: 20px 0 0 10px;
  width: 37px;
}
.product.details .product-actions a {
  margin-bottom: 5px;
  background-color: rgba(158, 158, 158, 0.8);
}
.product.details .product-actions a.active i.mdi-action-favorite {
  color: #EF3F6B;
}
.product.details .product-actions a.active i.mdi-action-thumb-up {
  color: #41B4A9;
}
.product.details .drops-counter {
  background-color: #ffde00;
  padding: 5px 10px;
  color: #000000;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  border-radius: 4px;
}
.product.details nav {
  box-shadow: none;
  border-bottom: 1px solid #CCC;
}
.product.details nav,
.product.details nav .nav-wrapper i {
  height: 48px;
  line-height: 48px;
  font-size: 1.5rem;
}
.product.details nav a.page-title {
  padding-left: 15px;
  font-size: 1.5rem;
}
.product.details .sale-container {
  padding: 10px 15px;
  position: relative;
  margin-left: -1px;
  background-color: #ffffff;
}
.product.details .sale-container hr {
  border: 1px solid #cccccc;
  position: absolute;
  bottom: 78px;
  left: 0;
  right: 0;
}
.product.details .price-range {
  position: absolute;
  bottom: 153px;
  left: 15px;
  right: 15px;
}
.product.details .sale-actions {
  height: 55px;
  position: absolute;
  bottom: 93px;
  left: 15px;
  right: 15px;
}
.product.details .sale-actions .current-price {
  margin: 0;
  padding: 2px 20px;
  background-color: #363636;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  font-family: Ubuntu;
  border-radius: 12px;
}
.product.details .sale-actions .action .btn {
  margin-top: 6px;
}
.product.details .sale-actions .action .btn.checkout {
  display: none;
}
.product.details .sale-actions .action.joined .join {
  display: none;
}
.product.details .sale-actions .action.completed .checkout {
  display: block;
}
.product.details .sale-actions .action.completed .join {
  display: none;
}
.product.details .potential-points {
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  color: #6E6E6E;
  background: rgba(0, 0, 0, 0) url(/Content/Images/sp-grey.png) no-repeat 100% 50%;
  padding-right: 24px;
  position: absolute;
  bottom: 48px;
  left: 15px;
}
.product.details .invite-friends {
  width: 133px;
  height: 28px;
  background: transparent url(/Content/Images/invite.png) no-repeat 50% 50%;
  position: absolute;
  bottom: 48px;
  right: 15px;
}
.product.details .time-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  letter-spacing: 4px;
}
.product.details .countdown.flip-clock-wrapper {
  display: inline-block;
  width: auto;
  margin: 0;
}
.product.details .countdown.flip-clock-wrapper .flip-clock-label {
  display: none;
}
.product.details .countdown.flip-clock-wrapper ul.flip {
  margin: 4px 2px;
  width: 20px;
  height: 30px;
  font-size: 26px;
  line-height: 28px;
}
.product.details .countdown.flip-clock-wrapper ul.flip li {
  line-height: 34px;
}
.product.details .countdown.flip-clock-wrapper ul.flip li a div div.inn {
  font-size: 20px;
  padding-left: 3px;
}
.product.details .countdown.flip-clock-wrapper .flip-clock-divider {
  height: 36px;
  width: 10px;
}
.product.details .countdown.flip-clock-wrapper .flip-clock-divider .flip-clock-dot {
  background: #F1F1F1;
  width: 3px;
  height: 3px;
  left: 0;
  margin: 0 3px;
}
.product.details .countdown.flip-clock-wrapper .flip-clock-divider .flip-clock-dot.top {
  top: 15px;
}
.product.details .countdown.flip-clock-wrapper .flip-clock-divider .flip-clock-dot.bottom {
  bottom: 8px;
}
.product #btnQuote {
  margin-top: 10px;
}
a.ovr {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgba(80, 80, 80, 0.75);
  color: #ffffff;
  z-index: 1;
  line-height: 32px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
a.ovr:hover {
  color: #ffde00;
}
a.ovr.ovr-favorite {
  top: 0;
  left: 0;
}
a.ovr.ovr-favorite.active {
  color: #EF3F6B;
}
a.ovr.ovr-like {
  top: 34px;
  left: 0;
}
a.ovr.ovr-like.active {
  color: #29BFB1;
}
a.ovr.ovr-group {
  top: 68px;
  left: 0;
}
a.ovr.ovr-group.active {
  color: #8FA4F4;
}
a.ovr.ovr-close {
  top: 0;
  right: 0;
}
.row.no-padding > .col {
  padding: 0;
  position: relative;
}
/*# sourceMappingURL=msite.css.map */