html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Questrial-Regular', sans-serif;
  font-weight: normal !important;
  font-size: 16px;
  color: #333;
  margin-bottom: 148px;
}
.validation-summary-errors {
  background-color: lightcoral;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.input-validation-error {
  border-color: lightcoral;
}
textarea {
  resize: none;
}
.container {
  width: 100% !important;
  max-width: 1170px !important;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a {
  font-weight: bold;
  padding: 5px 15px;
  margin: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.navbar ul.navbar-nav {
  padding: 6px 0 0;
  font-size: 16px;
}
.navbar ul.navbar-nav > li.dropdown > a[data-toggle=dropdown] {
  padding: 0 15px 5px 15px;
  background-color: rgba(0, 0, 0, 0);
}
.navbar ul.navbar-nav > li.dropdown > a[data-toggle=dropdown] img {
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  width: 40px;
  height: 40px;
}
.navbar ul.navbar-nav .facebook {
  margin-top: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.navbar-default {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border-color: transparent;
  margin-bottom: 0;
  border-bottom: 1px solid #CCC;
}
.navbar-default .navbar-brand {
  padding: 12px 15px;
  font-size: 28px;
  line-height: 58px;
  height: auto;
}
.navbar-default .navbar-brand > img {
  display: inline-block;
  margin-right: 10px;
}
.navbar-default .navbar-toggle.navbar-toggle-auth {
  padding: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  border-color: transparent;
}
.navbar-default .navbar-toggle.navbar-toggle-auth:hover,
.navbar-default .navbar-toggle.navbar-toggle-auth:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle.navbar-toggle-auth img.avatar {
  border-radius: 25px;
}
.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-control:focus {
  border-color: #ffde00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 222, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 222, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 222, 0, 0.6);
}
.modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-header {
  background-color: #ffde00;
  border-bottom: none;
  min-height: 30px;
  padding: 6px 10px;
}
.popover {
  border: 1px solid #ffde00;
  border-radius: 0;
  font-family: inherit;
  font-size: 16px;
}
.popover.top > .arrow {
  border-top-color: #FFDE00;
}
*[data-toggle=popover] {
  cursor: pointer;
}
.close {
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
}
img.img-responsive.avatar {
  width: 100%;
}
.product {
  padding: 60px 0;
}
.product.row {
  margin: 0;
}
.product.row > .col-xs-12 {
  padding: 0;
}
.product .images {
  background: transparent url(/Content/Images/logo.png) no-repeat 50% 50%;
}
.product .images,
.product .nav-tabs,
.product .tab-content {
  height: 321px;
}
.product .drops-counter {
  background-color: #ffde00;
  padding: 5px 10px;
  color: #000000;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  border-radius: 4px;
}
.product .share-buttons {
  margin: 0 0 0 10px;
}
.product .share-buttons ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
.product .share-buttons ul li {
  padding: 18px 0;
}
.product .share-buttons ul li .btn {
  border-radius: 4px;
}
.product .share-buttons ul li .btn i {
  line-height: inherit;
  font-size: 22px;
  margin: -4px;
}
.product .social {
  margin: 0 0 0 10px;
  padding: 10px 0;
}
.product .social .btn-default:hover,
.product .social .btn-default:focus,
.product .social .btn-default.focus,
.product .social .btn-default:active,
.product .social .btn-default.active,
.product .social .open > .dropdown-toggle.btn-default {
  background-color: #ffde00;
  color: #fff;
}
.product .bx-wrapper {
  margin-bottom: 0;
}
.product .bx-wrapper .bx-pager {
  bottom: 5px;
}
.product .bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(255, 255, 255, 0.4);
}
.product .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffde00;
}
.product .tabs-left ul.nav-tabs {
  background-color: #cccccc;
}
.product .tabs-left ul.nav-tabs > li a {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
}
.product .tabs-left ul.nav-tabs > li a:hover,
.product .tabs-left ul.nav-tabs > li a:focus {
  color: #000000;
}
.product .tabs-left ul.nav-tabs > li.active a,
.product .tabs-left ul.nav-tabs li.active a:hover,
.product .tabs-left ul.nav-tabs li.active a:focus {
  color: #000000;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 1px -1px #999999;
}
.product .tabs-left .tab-content {
  background-color: #ffffff;
}
.product .tabs-left .tab-content .tab-pane {
  margin-left: 45px;
  min-height: 100px;
  padding: 0 10px;
}
.product .tabs-left .tab-content .tab-pane h2.title {
  margin-top: 0;
  padding-top: 10px;
}
.product .tabs-left .tab-content .tab-pane .short-description {
  height: 68px;
  overflow: hidden;
}
.product .tabs-left .tab-content .tab-pane .price-range {
  padding: 10px 0 0 0;
  margin-bottom: 25px;
}
.product .tabs-left .tab-content .tab-pane .action .btn {
  border-radius: 6px;
}
.product .tabs-left .tab-content .tab-pane .current-price {
  background-color: #000000;
  color: #ffffff;
  padding: 6px 16px 7px;
  font-size: 25px;
  line-height: 1.3333333;
  letter-spacing: 4px;
  border-radius: 6px;
  font-family: 'Ubuntu';
}
.product .tabs-left .tab-content .tab-pane hr {
  margin-bottom: 10px;
}
.product .tabs-left .tab-content .tab-pane .potential-points {
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  color: #6E6E6E;
  background: rgba(0, 0, 0, 0) url(/Content/Images/sp-grey.png) no-repeat 100% 50%;
  padding-right: 26px;
}
.product .tabs-left .tab-content .tab-pane .invite-friends {
  width: 133px;
  height: 28px;
  background: transparent url(/Content/Images/invite.png) no-repeat 50% 50%;
}
.product .tabs-left .tab-content .tab-pane .time-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.product h4.title {
  color: #363636;
  font-size: 25px;
  margin: 20px auto 10px;
}
.product h5 {
  font-size: 18px;
}
.product .availability {
  margin-bottom: 25px;
}
.product .availability > div {
  border: 1px solid #cccccc;
  font-size: 15px;
  padding: 15px;
}
.product .availability .limited {
  color: #fbaf5d;
  margin-left: 15px;
}
.product .availability .timer {
  color: #ed1c24;
  font-size: 21px;
  display: inline-block;
}
.product .availability .timer .icon {
  color: #000;
  margin-right: 5px;
}
.product .price {
  background: #f9f8e8;
  border: 1px solid #898989;
}
.product .price hr {
  border-color: #898989;
}
.product .price .current {
  color: #898989;
}
.product .price .current .value {
  font-size: 50px;
  color: #000000;
  font-weight: bold;
}
.product .price .action {
  margin: 15px;
}
.product .price .btn-snapme {
  padding-bottom: 20.35%;
  background: url(Images/snapme-normal.png) no-repeat center center;
  background-size: contain;
}
.product .price .btn-snapme:hover {
  background: url(Images/snapme-over.png) no-repeat center center;
  background-size: contain;
}
.product .price .btn-snapme.snapped {
  background: url(Images/snapme-snapped.png) no-repeat center center;
  background-size: contain;
}
.product-sm {
  border: 1px solid #f1f1f1;
  border-top: 3px solid #ffde00;
  border-radius: 4px;
}
.product-details .details-sections {
  background-color: #cccccc;
  margin-bottom: 15px;
}
.product-details .details-sections .nav-tabs.nav-justified a {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #cccccc;
  border-left-color: #FFF;
  border-right-color: #FFF;
  border-radius: 0;
}
.product-details .details-sections .nav-tabs.nav-justified li.active a {
  background-color: #ffffff;
  border-color: #FFF;
  color: #000000;
  box-shadow: 6px 0 4px 0 #999999, -6px 0 4px 0 #999999;
}
.product-details .tab-pane {
  min-height: 100px;
  padding-bottom: 20px;
}
.product-details #fulldetails p {
  white-space: pre-wrap;
}
.product-details #fulldetails .measures {
  margin: 20px 0;
}
.product-details #fulldetails .measures div[class^=snap] {
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
}
.product-details #fulldetails .measures .snap-condition {
  background: transparent url(/Content/Images/info-state.png) no-repeat 0 50%;
}
.product-details #fulldetails .measures .snap-size {
  background: transparent url(/Content/Images/info-size.png) no-repeat 0 50%;
}
.product-details #fulldetails .measures .snap-weight {
  background: transparent url(/Content/Images/info-state.png) no-repeat 0 50%;
}
.product-details .input-group-btn .btn-default {
  background-color: #eaeaea;
}
.top-banner {
  background: transparent url(Images/top-banner-bg.png) no-repeat top center;
}
.top-banner h2 {
  margin: 0;
  padding: 20px 0 30px 0;
  text-align: center;
  color: #FFF;
  font-size: 60px;
  text-shadow: 2px 2px 2px #333;
}
.top-banner .register {
  margin-top: 30px;
}
.top-banner .register .btn {
  border: 5px solid rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 3px;
  outline: none;
}
.top-banner .register .btn i {
  line-height: 38px;
}
.top-banner .sub-title {
  font-size: 21px;
  color: #fff;
  text-shadow: 2px 2px 2px #333;
}
.coming-soon {
  font-size: 18px;
}
.coming-soon .top-banner {
  background: url('/Content/Images/top-header-coming-soon.jpg') no-repeat top center;
}
.coming-soon .top-banner .container {
  height: 578px;
}
.coming-soon .top-banner h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
  color: #FFF;
  font-size: 46px;
  text-shadow: 2px 2px 2px #333;
}
.coming-soon .top-banner h4 {
  color: #ffffff;
  margin-bottom: 38px;
  text-align: center;
  font-size: 24px;
}
.coming-soon .top-banner h4 a {
  color: #ffffff;
  text-decoration: none;
  margin: 20px 0;
  display: block;
}
.coming-soon .top-banner h4 a .fa-play-circle {
  font-size: 96px;
  opacity: 0.4;
}
.coming-soon .top-banner h4 a .fa-play-circle:hover {
  color: #ffde00;
}
.coming-soon .early-birds {
  background: #ffffff url('/Content/Images/early-birds-bg.gif') no-repeat top center;
  padding: 20px 0 40px 0;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}
.coming-soon .early-birds .stay-tuned {
  background-color: #ffde00;
  padding: 1px 0 10px 0;
  margin: 0 10% 50px 10%;
  position: relative;
}
.coming-soon .early-birds .stay-tuned .arrow {
  position: absolute;
  bottom: -10px;
  border: 10px solid #ffde00;
  left: 49%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.coming-soon .sharing-saving {
  background: rgba(0, 0, 0, 0) url('/Content/Images/bg-map.jpg') no-repeat top center;
}
.coming-soon .sharing-saving h2 {
  margin-top: 40px;
}
.coming-soon .sharing-saving h2,
.coming-soon .sharing-saving h4 {
  color: #ffffff;
}
.coming-soon .sharing-saving .social-map {
  height: 320px;
  background: transparent url('/Content/Images/social-map.png') no-repeat top center;
}
.coming-soon .special-invite {
  background-color: #f8f8f8;
  padding: 30px 0 50px 0;
  font-size: 18px;
}
.coming-soon .benefits {
  background-color: #ffffff;
  padding: 20px 0 70px 0;
}
.coming-soon .benefits .col-sm-4 {
  padding: 30px;
}
.coming-soon .benefits .col-sm-4 i {
  font-size: 64px;
  color: #ffde00;
  display: block;
  margin-bottom: 10px;
}
.coming-soon .steps {
  background: url('Images/landing-colourful.jpg') no-repeat 50% 50%;
  padding: 70px 0;
  color: #ffffff;
}
.coming-soon .steps i {
  font-size: 48px;
  display: block;
  margin-bottom: 20px;
}
.coming-soon .game-changer {
  padding: 30px 0;
}
.coming-soon .game-changer .iisnap-snap-coins {
  font-size: 80px;
  display: block;
  margin: 30px;
}
.coming-soon .game-changer .col-sm-6 .fa.fa-plus-circle {
  margin-right: 10px;
}
.coming-soon .game-changer hr {
  border-top-style: dashed;
}
.coming-soon.v2 .benefits {
  background-color: #ffde00;
  padding: 20px 0;
}
.coming-soon.v2 .benefits .col-sm-4 {
  padding: 30px;
}
.coming-soon.v2 .benefits .col-sm-4 i {
  font-size: 48px;
  color: #ffffff;
  display: block;
  float: left;
}
.coming-soon.v2 .benefits .col-sm-4 div {
  margin-left: 90px;
}
.coming-soon.v2 .special-invite {
  background-color: #f8f8f8;
}
.sellers {
  font-size: 18px;
}
.sellers .top-banner {
  background: url('/Content/Images/seller-header.jpg') no-repeat top center;
  height: 580px;
}
.sellers .top-banner .why-iisnap {
  height: 580px;
  position: relative;
}
.sellers .top-banner .why-iisnap > div {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: #ffffff;
}
.sellers .top-banner .why-iisnap > div h2 {
  text-shadow: none;
  font-size: 28px;
}
.sellers .steps {
  background-color: #FFDE00;
  color: #000000;
  padding: 30px 0;
  font-size: 28px;
  line-height: 34px;
}
.sellers .steps span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 34px;
  font-weight: bold;
}
.sellers .steps a.btn {
  font-size: inherit;
  border: 2px solid #ffffff;
  color: inherit;
  padding: 0 5px;
  margin-top: -3px;
}
.sellers .opportunities {
  background-color: #f1f1f1;
  padding: 20px 0;
}
.sellers .opportunities h2 {
  margin-bottom: 30px;
}
.sellers .opportunities .opportunity {
  padding: 7px;
  border-top: 1px dashed #999999;
  font-size: 16px;
  line-height: 26px;
}
.sellers .opportunities .opportunity i {
  color: limegreen;
  font-size: 26px;
  margin-right: 10px;
}
.sellers .middle-banner {
  background: url('/Content/Images/seller-port.jpg') no-repeat top center;
  height: 400px;
}
.sellers .middle-banner .port-item {
  margin: 80px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 240px;
}
.sellers .middle-banner .port-item i {
  color: #ffffff;
  font-size: 96px;
  padding: 25px 0;
  display: block;
  margin-bottom: 20px;
}
.sellers .middle-banner .port-item p {
  color: #ffde00;
}
.sellers .registered h2 {
  color: #ffffff;
}
.registered h2 {
  padding: 20px 0;
}
.standard-section {
  padding: 40px 0 !important;
}
.category-filter {
  font-size: 28px;
}
.category-filter .categories-list {
  font-size: 16px;
  height: 44px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}
.category-filter .categories-list ul {
  display: inline-block;
}
.category-filter .categories-list ul li.active > a {
  background-color: #FFDE00;
  color: #000;
}
.category-filter .categories-list ul a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #000;
}
.category {
  margin-bottom: 30px;
}
.category .category-name {
  padding: 7px 30px;
  border: 1px solid;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
}
.home-promote {
  background-color: #fff;
}
.sale {
  padding: 0 15px 30px 15px;
  /*.retail {
        font-size: 16px;
        line-height: 16px;
        color: #666;
        font-weight: bold;

        span {
            color: #ed1c24;
            text-decoration: line-through;
        }
    }*/
}
.sale > h4 {
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sale .sale-image {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.sale .box {
  border: 1px solid #c2c2c2;
  background-color: #fff;
  position: relative;
}
.sale .box a {
  color: inherit;
  text-decoration: none;
}
.sale .box .actions .btn {
  font-size: 28px;
}
.sale .box .time {
  margin: 0 10px;
  color: #ED1C24;
  border-bottom: 2px solid #EEE;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 3px;
}
.sale .box .time i {
  color: #7d7d7d;
  margin-right: 10px;
}
.sale .box .current-price {
  margin: 0 10px;
  padding-bottom: 10px;
  color: #363636;
  font-size: 38px;
  font-weight: bold;
  font-family: Ubuntu;
}
.sale .box .bg-dark {
  background-color: #363636;
  color: #fff;
  font-size: 16px;
  padding: 10px 5px;
  line-height: 24px;
  cursor: pointer;
}
.sale .box .bg-bright {
  background-color: #ffde00;
  color: #363636;
  font-size: 16px;
  padding: 10px 5px;
  cursor: pointer;
}
.sale .box .bg-bright .fa-dollar {
  color: #fff;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  line-height: 22px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
}
.sale .box .bg-bright:hover {
  text-shadow: 1px 1px #fff;
}
.sale .box .bg-bright:hover .fa-dollar {
  text-shadow: 1px 1px #363636;
}
.sale .box-shadow {
  height: 18px;
  background: url(/content/images/sale-shadow.png) no-repeat top center;
}
.sale .btn-snapme {
  background: #ffde00 url('/Content/Images/snapme-button.png') no-repeat 10% 50%;
}
.featured-sale > h4 {
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.featured-sale .sale-image {
  border: 1px solid #eee;
  cursor: pointer;
}
.featured-sale .actions {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.featured-sale .actions .btn-snapme {
  width: 64px;
  height: 64px;
  left: 50%;
  margin-left: -32px;
  border: 2px solid #fff;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  position: absolute;
  top: -32px;
  background: #ffde00 url('/Content/Images/snapme-button.png') no-repeat 50% 50%;
  margin-bottom: 32px;
}
.featured-sale .price-range {
  padding-top: 0;
}
.featured-sale .side-by-side {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.featured-sale .side-by-side .retail {
  width: 35%;
  float: left;
  background-color: #6f6f6f;
  padding: 8px 0;
  text-decoration: line-through;
}
.featured-sale .side-by-side .target {
  width: 65%;
  float: left;
  background-color: #545454;
  padding: 7px 0;
  font-size: 16px;
}
.featured-sale .ended-on {
  margin-top: 5px;
}
.featured-sale .ended-on i {
  color: #00BC0D;
}
.ending-soon-sale .time-to-end {
  background-color: #DE0149;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px 5px 60px;
  letter-spacing: 4px;
  position: relative;
}
.ending-soon-sale .time-to-end i {
  background-color: #C0013F;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  line-height: 32px;
  padding: 0 10px;
}
.ending-soon-sale .sale-image {
  border: 1px solid #eee;
}
.ending-soon-sale .current-price {
  background-color: #545454;
  color: #fff;
  padding: 8px;
}
.ending-soon-sale .current-price > div {
  font-size: 16px;
}
.ending-soon-sale .current-price .price {
  font-size: 28px;
  font-weight: bold;
  font-family: Ubuntu;
}
.ending-soon-sale .action {
  background-color: #ffde00;
}
.ending-soon-sale .action .btn-snapme {
  font-size: 28px;
  line-height: 64px;
  background: #ffde00 url('/Content/Images/snapme-button.png') no-repeat 10% 50%;
}
.box:before,
.box:after {
  background: none;
  bottom: 12px;
  -moz-box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10px;
  left: 12px;
  position: absolute;
  width: 50%;
  z-index: -1;
  -moz-transform: skew(-4deg) rotate(-4deg);
  -webkit-transform: skew(-4deg) rotate(-4deg);
  -ms-transform: skew(-4deg) rotate(-4deg);
  -o-transform: skew(-4deg) rotate(-4deg);
  transform: skew(-4deg) rotate(-4deg);
}
.box:after {
  -moz-transform: skew(4deg) rotate(4deg);
  -webkit-transform: skew(4deg) rotate(4deg);
  -ms-transform: skew(4deg) rotate(4deg);
  -o-transform: skew(4deg) rotate(4deg);
  transform: skew(4deg) rotate(4deg);
  left: auto;
  right: 12px;
}
footer {
  background-color: #464646;
  padding: 20px;
  color: #959595;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer hr {
  border-top-color: #999;
}
footer .nav-justified > li > a {
  color: #cccccc;
}
footer .nav-justified > li > a:hover,
footer .nav-justified > li > a:active {
  background-color: transparent;
  color: #ffde00;
}
footer .row.headers {
  color: #333;
  font-weight: bold;
}
footer .row.entries ul {
  margin: 10px 0 0;
  padding: 0;
  list-style-type: none;
}
footer .row.entries ul a {
  color: #FFF;
}
.about > div {
  padding: 20px 0;
}
.about .about-how-it-works {
  background-color: #f8f8f8;
}
.about .about-register {
  background-color: #FFDE00;
}
.about .about-register h3 {
  color: #fff;
  text-shadow: 1px 1px #eee;
}
.about .about-register .btn-transparent {
  border-color: #666;
  color: #000;
  text-transform: uppercase;
  margin: 30px 0;
  padding: 15px 85px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 5px;
}
.btn-snapme {
  background-color: #FFDE00;
  color: #000;
}
.btn-snapme:active,
.btn-snapme:focus {
  outline: 0 !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.price-range {
  padding: 10px 10px 0 10px;
  color: #ccc;
}
.price-range .pull-left {
  text-decoration: line-through;
}
.price-range .progress {
  margin-top: 30px;
  height: 5px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.price-range .progress .progress-bar {
  background-color: #ffde00;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.price-bubble {
  position: relative;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
}
.price-bubble.price-bubble-left {
  text-decoration: line-through;
}
.price-bubble.price-bubble-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -1px;
  top: 100%;
  border: 7px solid;
  border-color: #ccc transparent transparent #ccc;
}
.price-bubble.price-bubble-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -1px;
  top: 100%;
  border: 7px solid;
  border-color: #ccc #ccc transparent transparent;
}
.price-bubble.price-bubble-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 100%;
  border: 6px solid;
  border-color: #fff transparent transparent #fff;
}
.price-bubble.price-bubble-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 100%;
  border: 6px solid;
  border-color: #fff #fff transparent transparent;
}
h4.ribbon {
  background: url('Images/ribbon-sx.png') no-repeat top left, url('Images/ribbon-dx.png') no-repeat top right;
  height: 47px;
}
h4.ribbon div {
  background-image: url('Images/ribbon-central.png');
  height: 38px;
  margin: 0 59px;
  line-height: 38px;
  font-size: 24px;
  color: #000;
  text-align: center;
}
.video-frame {
  border: 2px solid #999;
}
.video-frame .video {
  background: rgba(255, 255, 255, 0.3);
  margin: 6px;
}
.facebook {
  margin-top: 30px;
  background-color: #3b5998 !important;
  color: #fff;
  font-size: 16px;
}
.welcome-new-user {
  padding: 0 18%;
}
.welcome-new-user .video-frame {
  border: 2px solid #ffde00;
}
.welcome-new-user .privacy {
  text-align: left;
  margin-top: 10px;
}
.welcome-new-user .privacy i {
  font-size: 21px;
  color: #00a651;
  line-height: 30px;
}
.welcome-new-user .form-horizontal {
  margin-top: 10px;
}
.welcome-new-user .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.login-user {
  padding: 0 18%;
  font-size: 16px;
}
.text-small {
  font-size: 12px;
}
.about-social-power {
  background-color: #fff;
}
.about-benefits {
  background: transparent url('/Content/Images/about-benefits.png') no-repeat top center;
  /*height: 580px;*/
  color: #fff;
}
.about-benefits .benefit {
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  padding: 10px 10px 10px 100px;
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
  margin-top: 15px;
}
.about-how-it-works .step {
  padding: 25px 25px 0 25px;
}
.about-more-questions {
  background: transparent url('/Content/Images/about-faq.gif') no-repeat top center;
  height: 280px;
}
.about-more-questions h2 {
  margin-top: 100px;
}
.about-more-questions h2 a {
  color: #000;
  border: 1px solid #000;
  margin-left: 20px;
}
.dialog-error {
  background-color: #DB0E4C;
  padding: 5px;
  margin-bottom: 20px;
}
.dialog-error > div {
  border: 2px dashed #FFF;
  color: #FFF;
  min-height: 60px;
  padding: 5px 10px;
}
.dialog-error > div > div:first-child {
  font-size: 32px;
  font-weight: bold;
  float: left;
}
.dialog-error > div > div:last-child {
  font-size: 18px;
  padding-left: 20px;
  text-align: left;
  height: 45px;
  display: table-cell;
  vertical-align: middle;
}
.dialog-message {
  font-size: 18px;
  margin-bottom: 20px;
}
.price-drop {
  font-size: 18px;
  margin: 0 18%;
}
.sale-info {
  border: 1px solid #898989;
  background-color: #fff;
  padding: 10px;
}
.sale-info .btn-snapme {
  background: #ffde00 url('/Content/Images/snapme-button.png') no-repeat 10% 50%;
  font-size: 28px;
}
.sale-info .btn-snapme.no-logo {
  background-image: none;
}
.sale-info .retail {
  font-size: 16px;
  line-height: 16px;
  color: #666;
  font-weight: bold;
}
.sale-info .retail span {
  color: #ed1c24;
  text-decoration: line-through;
}
.sale-info .timer {
  margin-top: 10px;
  height: 36px;
  border: 2px solid #ccc;
  font-size: 22px;
}
.sale-info .timer i {
  background-color: #ccc;
  padding: 0 5px;
  color: #fff;
  line-height: 32px;
  display: block;
}
.sale-info .timer div {
  margin-left: 35px;
  text-align: center;
  letter-spacing: 4px;
}
.current-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.current-price .value {
  font-family: Ubuntu;
  font-size: 44px;
}
.current-price .value.final {
  border: 1px solid #eee;
  margin-top: 10px;
  background: url(Images/sold.png) no-repeat top right;
}
.white-bg {
  background-color: #fff;
}
.grey-bg {
  background-color: #f8f8f8;
}
.green-bg {
  background-color: #32CD32;
}
.text-uppercase {
  letter-spacing: 4px;
  font-weight: bold;
}
span.attribute {
  margin-left: 15px;
}
.suggested-right {
  border: 1px solid #F1F1F1;
  background-color: #F8F8F8;
  padding: 15px;
  margin-top: 20px;
}
ul.account-menu {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
}
ul.account-menu .total-savings {
  padding: 10px 0 5px 0;
  background-color: #ffde00;
}
ul.account-menu li[role=navigation] {
  font-size: 14px;
  padding: 7px 0 7px 7px;
  background-color: #f8f8f8;
  border-top: 2px solid #f8f8f8;
}
ul.account-menu li[role=navigation] a {
  color: #333;
}
ul.account-menu li[role=navigation].active {
  background-color: #898989;
  color: #FFF;
}
ul.account-menu li[role=navigation].active a {
  color: #FFF;
}
ul.account-menu li[role=navigation] .value {
  background-color: #ffde00;
}
ul.account-menu li[role=navigation] .pull-right {
  width: 40px;
  display: inline-block;
  text-align: center;
  margin: -5px 2px -5px 0;
  padding: 4px 0;
  font-size: 16px;
}
ul.account-menu li[role=navigation].grey-bg {
  background-color: #898989;
  color: #fff;
  border-top: 2px solid #898989;
}
ul.account-menu li[role=navigation].grey-bg a {
  color: #fff;
}
.yellow {
  color: #ffde00 !important;
}
.yellow-bg {
  background-color: #ffde00;
}
@media (max-width: 767px) {
  .sellers .middle-banner .port-item {
    margin: 80px 10px;
  }
  .sellers .middle-banner .port-item i {
    font-size: 64px;
  }
}
@media (max-width: 590px) {
  .coming-soon .top-banner h2 {
    padding: 0;
    margin: 30px 0;
    font-size: 28px;
  }
  .coming-soon .top-banner h4 {
    font-size: 20px;
  }
  .coming-soon .sharing-saving {
    display: none;
  }
  .coming-soon .benefits {
    background-color: #f8f8f8;
  }
  .coming-soon .special-invite {
    background-color: #ffffff;
  }
}
/* custom inclusion of right, left and below tabs */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 2px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  font-size: 20px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}
.btn-twitter {
  background-color: #00aced;
  color: #fff;
}
.btn-google-plus {
  background-color: #dd4b39;
  color: #fff;
}
.btn-pinterest {
  background-color: #cb2027;
  color: #fff;
}
.how-it-works {
  background-color: #f8f8f8;
}
.how-it-works .container-fluid {
  background-image: linear-gradient(to bottom, #acd4ad 0, #41bfc2 100%);
}
.how-it-works #carousel-howitworks {
  /*.item:nth-child(1) {
        background-image: linear-gradient(to bottom, #ACD4AD 0, #41BFC2 100%);
    }

    .item:nth-child(2) {
        background-image: linear-gradient(to bottom, #8364A6 0, #26A2D7 100%);
    }

    .item:nth-child(3) {
        background-image: linear-gradient(to bottom, #3B5A95 0, #C96091 100%);
    }

    .item:nth-child(4) {
        background-image: linear-gradient(to bottom, #A3CA54 0, #20AA53 100%);
    }*/
}
.how-it-works #carousel-howitworks h1 {
  margin: 0;
  text-align: center;
  padding: 30px 0;
  color: #ffffff;
}
.how-it-works #carousel-howitworks .item {
  padding: 0 40px 110px 40px;
  color: #fff;
}
.how-it-works #carousel-howitworks .item .text-vcenter {
  height: 500px;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}
.how-it-works #carousel-howitworks .carousel-indicators {
  left: 0;
  margin-left: 0;
  width: 100%;
  color: #fff;
}
.how-it-works #carousel-howitworks .carousel-indicators li {
  width: 22%;
  border: none;
  background: rgba(0, 0, 0, 0);
  text-indent: 0;
  text-align: center;
}
.how-it-works #carousel-howitworks .carousel-indicators li span {
  padding: 12px;
  border: 2px solid #fff;
  font-size: 36px;
  border-radius: 50px;
}
.how-it-works #carousel-howitworks .carousel-indicators li div {
  margin-top: 10px;
}
.how-it-works #carousel-howitworks .carousel-indicators li.active span {
  border-color: #ffde00;
}
.how-it-works .snap-map {
  margin: 50px 0;
}
.contact-us {
  background: transparent url(/Content/Images/contact-us-header.jpg) no-repeat top center;
}
.contact-us h2 {
  color: #fff;
  padding: 110px 0;
}
#carousel-home .hero-product {
  height: 500px;
  padding: 20px 40px;
  color: #fff;
}
#carousel-home .hero-product h1 {
  padding-top: 50px;
  padding-bottom: 30px;
}
#carousel-home .hero-product h4 {
  padding-bottom: 40px;
}
#carousel-home .hero-product.red {
  background-color: #ED4E4D;
}
#carousel-home .hero-product.green {
  background-color: #ACD4AD;
}
#carousel-home .hero-product.purple {
  background-color: #8364A6;
}
#carousel-home .hero-product.blue {
  background-color: #26A2D7;
}
.btn-black {
  background: #000;
  border-color: #000;
  color: #fff;
}
.btn-black:hover,
.btn-black:active {
  color: #c1c1c1;
}
.product-box {
  max-width: 360px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
.product-box .title {
  font-weight: bold;
  line-height: 36px;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.product-box .image {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-box .image .timer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}
.product-box .price-bar {
  height: 75px;
}
.product-box .footer {
  height: 50px;
}
.product-box .footer .snaps-counter {
  float: left;
  width: 35%;
  background-color: #ffde00;
  color: #000;
  text-align: center;
  padding: 7px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-box .footer .current-price {
  float: right;
  width: 60%;
  background-color: #000;
  color: #fff;
  border-top-left-radius: 50px;
  height: 50px;
  margin-bottom: 0;
  font-size: 34px;
  line-height: 50px;
  font-family: Ubuntu;
}
.product-box .social {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
  display: none;
  padding: 10px;
}
.product-box .social .btn-default:hover,
.product-box .social .btn-default:focus,
.product-box .social .btn-default.focus,
.product-box .social .btn-default:active,
.product-box .social .btn-default.active,
.product-box .social .open > .dropdown-toggle.btn-default {
  background-color: #ffde00;
  color: #fff;
}
.social-feed {
  width: 100%;
  height: 255px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
  margin-top: 15px;
}
.social-feed ul {
  list-style-type: none;
  padding: 0;
}
.social-feed ul li.entry {
  text-align: left;
  border-top: 1px solid #ccc;
  line-height: 18px;
  padding: 5px 0;
}
.social-feed ul li.entry img {
  width: 50px;
  height: 50px;
}
.social-feed ul li.entry > div {
  margin-left: 55px;
}
.social-feed ul li.entry > div .username {
  font-weight: bold;
}
.social-feed ul li.entry > div .action {
  font-size: smaller;
}
.social-feed ul li.entry > div .timestamp {
  color: #ddd;
  font-size: smaller;
}
a.ovr {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgba(80, 80, 80, 0.75);
  color: #ffffff;
  z-index: 1;
  line-height: 32px;
  font-size: 18px;
  cursor: pointer;
}
a.ovr:hover {
  color: #ffde00;
}
a.ovr.ovr-favorite {
  top: 0;
  left: 0;
}
a.ovr.ovr-favorite.active {
  color: #EF3F6B;
}
a.ovr.ovr-like {
  top: 34px;
  left: 0;
}
a.ovr.ovr-like.active {
  color: #29BFB1;
}
a.ovr.ovr-group {
  top: 68px;
  left: 0;
}
a.ovr.ovr-group.active {
  color: #8FA4F4;
}
a.ovr.ovr-close {
  top: 0;
  right: 0;
}
.landing-page .bg-grey {
  background-color: #f8f8f8;
}
.landing-page .row {
  display: flex;
  align-items: center;
}
.landing-page .header {
  background: transparent url(/Content/Images/LandingPage/header.jpg) no-repeat 50% 50%;
  height: 580px;
  margin-right: -15px;
  margin-left: -15px;
  color: #fff;
}
.landing-page .header > .container > .row {
  height: 580px;
}
.landing-page .header h1 {
  font-size: 52px;
  text-shadow: 2px -2px 3px #666666;
  margin-bottom: 30px;
  font-weight: normal !important;
}
.landing-page .header h3 {
  text-shadow: 2px -2px 2px #666666;
  line-height: 30px;
  font-weight: normal !important;
}
.landing-page .header .well {
  background-color: #727272;
  border-color: #727272;
  font-size: 18px;
  border-radius: 6px;
}
.landing-page .header .well span {
  color: #ffde00;
}
.landing-page .header .well form {
  margin-top: 30px;
}
.landing-page .header .well form .form-control {
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}
.landing-page .header .well form .form-control::-webkit-input-placeholder {
  color: #fff;
}
.landing-page .header .well form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.landing-page .header .well form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.landing-page .header .well form .form-control:-ms-input-placeholder {
  color: #fff;
}
.landing-page .header .well form .spam-security {
  font-size: 16px;
  color: #fff;
  line-height: 47px;
}
.landing-page .header .well form .spam-security i {
  margin-right: 7px;
}
.landing-page .header .well form .btn-lg {
  background-color: #ffde00;
  color: #fff;
  text-shadow: 2px 2px 2px #666;
  border-radius: 6px;
}
.landing-page .always-pay-less {
  color: #363636;
}
.landing-page .shopping-with-friends {
  color: #363636;
}
.landing-page .earn-points {
  color: #363636;
}
.landing-page .join-free {
  color: #363636;
}
.landing-page .join-free .form-control {
  border-radius: 6px;
  font-size: 16px;
}
.landing-page .join-free .spam-security {
  color: #999;
  line-height: 47px;
  font-size: 16px;
}
.landing-page .join-free .spam-security i {
  margin-right: 7px;
}
.landing-page .join-free .btn-lg {
  background-color: #ffde00;
  color: #fff;
  text-shadow: 2px 2px 2px #666;
  border-radius: 6px;
}
.landing-page > div:nth-child(3),
.landing-page > div:nth-child(5) {
  text-align: right;
}
footer.landing-page ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer.landing-page ul li {
  float: left;
  width: 25%;
  text-align: center;
}
footer.landing-page ul li a {
  color: #fff;
}
@media (max-width: 767px) {
  .landing-page .row {
    display: block;
  }
  .landing-page .row img {
    margin: 0 auto;
  }
  .landing-page .header h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .landing-page .header .well {
    padding-bottom: 0;
  }
  .landing-page .header .well form .spam-security {
    font-size: 14px;
  }
  .landing-page .header .well form .btn-lg {
    font-size: 16px;
  }
  .landing-page .join-free form .spam-security {
    font-size: 14px;
  }
  .landing-page .join-free form .btn-lg {
    font-size: 16px;
  }
  .landing-page h1,
  .landing-page h3 {
    text-align: center;
    margin-top: 0;
  }
  footer.landing-page ul li {
    text-align: center;
    display: block;
    float: none;
    width: 100%;
  }
  footer.landing-page ul li a {
    color: #fff;
  }
  nav.navbar.landing-page .navbar-header {
    text-align: center;
  }
  nav.navbar.landing-page .navbar-header .navbar-brand {
    float: none;
  }
}
@media (max-width: 380px) {
  .col-xs-6 {
    width: 100%;
  }
  .header h3 {
    display: none !important;
  }
}
/*# sourceMappingURL=site.css.map */