@model Dictionary<string, object>
@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AdminProductController" layout="column" class="ii-admin ii-admin-products" ng-init="init(@Model["id"])">
    <div style="width: 100%; max-width: 1200px; margin: 0 auto;" layout-padding>
        <div class="md-display-1">Edit {{product.name}}</div>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Details">
                <md-content class="md-padding">
                    <form name="detailsForm" novalidate ng-submit="updateProduct(detailsForm.$valid)">
                        <div layout="column">
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container class="md-block" flex flex-gt-sm="50">
                                    <label>Name</label>
                                    <input md-maxlength="40" required name="name" ng-model="product.name">
                                    <div ng-messages="detailsForm.name.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex flex-gt-sm="30">
                                    <label>Community</label>
                                    <md-select ng-model="product.community_id">
                                        <md-option ng-repeat="community in communities" value="{{community.id}}">
                                            {{community.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex flex-gt-sm="20">
                                    <label>MSRP</label>
                                    <input required name="price" ng-model="product.price" type="number" min="10">
                                    <div ng-messages="detailsForm.proce.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="min">The value is too low.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block">
                                <label>Short Description</label>
                                <input md-maxlength="80" name="description" ng-model="product.description">
                                <div ng-messages="detailsForm.description.$error">
                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                                <label>Description</label>
                                <textarea ui-tinymce="tinymceOptions"
                                          ng-model="product.full_details"></textarea>
                            </md-input-container>
                            <div>
                                <span flex></span>
                                <md-button type="submit" class="md-raised md-primary">Update</md-button>
                            </div>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Media">
                <md-content class="md-padding">
                    <form name="mediaForm" novalidate ng-submit="updateProduct(mediaForm.$valid)">
                        <div layout="column">
                            <div class="md-title">Images</div>
                            <div layout="row">
                                <md-input-container class="md-block" flex="20" flex-sm="100">
                                    <label>Display Mode</label>
                                    <md-select ng-model="product.images_mode" ng-required>
                                        <md-option ng-repeat="mode in images_modes" value="{{mode.toLowerCase()}}">
                                            {{mode}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout-xs="column" layout="row" layout-wrap layout-align="center center">
                                <div flex="100" flex-gt-sm="50" ng-repeat="i in range(6) track by $index">
                                    <md-card>
                                        <md-card-content>
                                            <div layout="column">
                                                <md-input-container class="md-block">
                                                    <input type="url" placeholder="Image URL" ng-required="$index == 0" name="image_{{$index}}" ng-model="product.images[$index]">
                                                    <div ng-if="$index == 0" ng-messages="mediaForm.image_0.$error">
                                                        <div ng-message="required">This is required.</div>
                                                    </div>
                                                </md-input-container>
                                                <div>
                                                    <div class="ii-product-image" style="padding-bottom: 56.25%; background: url({{product.images[$index]}}) no-repeat 50% 50%; background-size: {{product.images_mode}}"></div>
                                                </div>
                                            </div>
                                        </md-card-content>
                                    </md-card>
                                </div>
                            </div>
                            <div>
                                <span flex></span>
                                <md-button type="submit" class="md-raised md-primary">Update</md-button>
                            </div>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Sales" md-on-select="loadSales()">
                <md-content class="md-padding">
                    <form name="shippingForm" novalidate ng-submit="updateProduct(shippingForm.$valid)">
                        <div class="md-title">Shipping Origin</div>
                        <div layout="column">
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container class="md-block" flex flex-gt-sm="20">
                                    <label>Zip</label>
                                    <input required ng-pattern="/^[0-9]{4}$/" name="zip" ng-model="product.shipping_info.zip">
                                    <div ng-messages="shippingForm.zip.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-pattern="md-maxlength">The zip has to have 4 digits.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex flex-gt-sm="20">
                                    <label>Weight (kg)</label>
                                    <input required type="number" name="weight" min="0.01" ng-model="product.shipping_info.weight">
                                    <div ng-messages="shippingForm.weight.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="min">Value is too low.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex flex-gt-sm="20">
                                    <label>Width (cm)</label>
                                    <input required type="number" min="1" name="width" ng-model="product.shipping_info.width">
                                    <div ng-messages="shippingForm.width.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="min">Value is too low.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex flex-gt-sm="20">
                                    <label>Length (cm)</label>
                                    <input required type="number" min="1" name="length" ng-model="product.shipping_info.length">
                                    <div ng-messages="shippingForm.length.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="min">Value is too low.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex flex-gt-sm="20">
                                    <label>Height (cm)</label>
                                    <input required type="number" min="1" name="height" ng-model="product.shipping_info.height">
                                    <div ng-messages="shippingForm.height.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="min">Value is too low.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div>
                                <span flex></span>
                                <md-button type="submit" class="md-raised md-primary">Update</md-button>
                            </div>
                        </div>
                    </form>

                    <md-progress-circular ng-if="loadingSales" md-mode="indeterminate"></md-progress-circular>
                </md-content>
            </md-tab>
            <md-tab label="Discussions">
                <md-content class="md-padding">
                    <p>&nbsp;</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>



@section footer_scripts
{
    <script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript" src="~/Scripts/App/Admin/product.js"></script>
}