@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/content/images/iisnap.ico">

    <meta name="twitter:title" content="iiSnap - Now you can afford anything you want">
    <meta name="twitter:description" content="Get the best prices with a little help from your friends">
    <meta name="twitter:image" content="https://www.iisnap.com/content/images/iisnap_fb_share.png">
    <meta property="og:title" content="iiSnap - Now you can afford anything you want">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.iisnap.com/">
    <meta property="og:description" content="Get the best prices with a little help from your friends">
    <meta property="og:image" content="https://www.iisnap.com/content/images/iisnap_fb_share.png">

    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,400italic,600italic,700italic,800italic" rel="stylesheet" type="text/css">

    <title>iiSnap - Coming Soon</title>

    <link rel="stylesheet" href="/content/scss/materialize.min.css">
    <link href="/content/welcome.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="/content/images/logo.png" /></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://www.facebook.com/iisnaps" target="_blank" class="btn-floating btn waves-effect waves-light facebook-blue"><i class="fa fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="top-banner">
        <div class="container">
            <div class="row">
                <div class="col l6 offset-l1">
                    <h1>Now you can afford anything you want</h1>
                </div>
            </div>
            <div class="row">
                <div class="col l5 offset-l1">
                    <h4>Get the best prices with a little help from your friends</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="yellow-bar iisnap-yellow center-align">
        <div>
            <h3>Coming Soon</h3>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="footer">
        <div class="row">
            <div class="col l10 offset-l1 center-align">
                <div style="display: inline-block">
                    <ul>
                        <li><a href="https://www.facebook.com/iisnaps" target="_blank">iiSnap on Facebook</a></li>
                        <li><a href="mailto:ami@iisnap.com?subject=I%20would%20like%20to%20become%20a%20partner" target="_blank">Sell on iiSnap</a></li>
                        <li><a href="mailto:michael@iisnap.com?subject=Question%20regarding%20iiSnap" target="_blank">Contact Us</a></li>
                    </ul>
                </div>
                <hr />
                <div class="center-align">&copy; 2015 iiSnap Corp LTD</div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</body>
</html>
