@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="container">
    <h1>FAQ</h1>

    <p>
        <h3>1. What is iiSnap?</h3>
        iiSnap is a new social e-commerce platform that brings people together to create a buying power that results in great savings for its members.
    </p>

    <p>
        <h3>2. What type of bonus will I receive when I join the invitation list?</h3>
        By joining the invitation list, you are entitled to a bonus of 100 Snap Points upon your later registration on iiSnap.
    </p>

    <p>
        <h3>3. Can I invite my friends to join iiSnap now?</h3>
        Absolutely! Once you have joined the invitation list, you will receive an e-mail confirmation. In this email you will find a special link and instructions on how to invite your friends to iiSnap.
        For every friend who will join the invitation list via this link, you will be entitiled to receive additional bonus Snap Points upon their later registration on iiSnap.
    </p>

    <p>
        <h3>4. What does it mean "I can shop with my friends online"?</h3>
        You can ask your friends what they think, see what products they like, shop together for the same product and earn rewards while you all having fun!
        If you know one or few of your friends who would like something, why not share the fun and get rewarded for it?
    </p>

    <p>
        <h3>5. Why would the price drop when I join a sale?</h3>
        Our algorythm drops the price based on the current demand for a product! More people join the sale, lower the price drops.
    </p>

    <p>
        <h3>6. Why it is important to invite my friends to join iiSnap?</h3>
        The most important thing to understand, is that the power for great shopping experience and value is in your hands! Bigger your friends network is, the more potential savings you and your friends can achieve.
    </p>

    <p>
        <h3>7. When will iiSnap go live?</h3>
        iiSnap will launch in summer 2015
    </p>

</div>