@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col m10 offset-m1">


            <h4>FAQ</h4>

            <h5>1. What is iiSnap?</h5>
            <p>
                iiSnap is a social e-commerce platform that brings people together to create a buying power that translates to great savings.
            </p>

            <h5>2. What type of rewards will I get when I join the invitation list?</h5>
            <p>
                You will be automatically get 100 Snap Points for later use as real money (during checkout) when iiSnap goes live.
            </p>

            <h5>3. How can I invite friends to join iiSnap now?</h5>
            <p>
                After you join the invitation list you will receive a confirmation e-mail.<br />
                This email will contain special link and instructions on how to invite your friends to iiSnap.<br />
                When your friends will join you will unlock more perks and your friends will be ellegable for a 100 Snap Points reward for joining as well.
            </p>

            <h5>4. What does it mean "I can shop with my friends online"?</h5>
            <p>
                You can ask your friends what they think, see what products they like, shop together for the same product and earn rewards while you all having fun!<br />
                If you know one or few of your friends would like something why not share the fun and get rewarded for it?
            </p>

            <h5>5. Why would the price drop when I join a sale?</h5>
            <p>
                Our algorythm drops the price based on the demand (Buying Power) for a product! More people join the sale, lower the price drops.
            </p>

            <h5>6. Why is it important to invite my friends to iiSnap?</h5>
            <p>
                The most important thing to understand, is that the power for great shopping experience and value is in your hands!<br />
                Bigger your friends network is, the more potential savings you and your friends can achieve.
            </p>

            <h5>7. What type of products can I expect to buy on iiSnap?</h5>
            <p>
                We are working extremely hard to source great quality products from all categories (tech, homeware, etc)!
            </p>
        </div>
    </div>
</div>