@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="container">
    <h1>FAQ</h1>

    <p>
        <h3>1. What is iiSnap?</h3>
        iiSnap is a social e-commerce platform that brings people together to create a buying power that translates to great savings.
    </p>

    <p>
        <h3>2. What type of rewards will I get when I join the invitation list?</h3>
        You will be automatically get 100 Snap Points for later use as real money (during checkout) when iiSnap goes live.
    </p>

    <p>
        <h3>3. How can I invite friends to join iiSnap now?</h3>
        After you join the invitation list you will receive a confirmation e-mail.
        This email will contain special link and instructions on how to invite your friends to iiSnap.
        When your friends will join you will unlock more perks and your friends will be ellegable for a 100 Snap Points reward for joining as well.
    </p>

    <p>
        <h3>4. What does it mean "I can shop with my friends online"?</h3>
        You can ask your friends what they think, see what products they like, shop together for the same product and earn rewards while you all having fun!
        If you know one or few of your friends would like something why not share the fun and get rewarded for it?
    </p>

    <p>
        <h3>5. Why would the price drop when I join a sale?</h3>
        Our algorythm drops the price based on the demand (Buying Power) for a product! More people join the sale, lower the price drops.
    </p>

    <p>
        <h3>6. Why is it important to invite my friends to iiSnap?</h3>
        The most important thing to understand, is that the power for great shopping experience and value is in your hands!
        Bigger your friends network is, the more potential savings you and your friends can achieve.
    </p>

    <p>
        <h3>7. What type of products can I expect to buy on iiSnap?</h3>
        We are working extremely hard to source great quality products from all categories (tech, homeware, etc)!
    </p>

</div>