@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="landing-page">
    <div class="container-fluid">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>iiSnap is a new fun way to shop online</h1>
                        <h3>&quot;iiSnap brings people together to create a buying power that results in great savings&quot;</h3>
                        <div class="text-center">
                            <a href="#movie" data-toggle="modal"><i class="glyphicon glyphicon-play-circle" style="font-size: 48px;"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="well">
                            <div class="text-center">
                                <span>Join</span> iiSnap invitation list and <br /><span>Unlock bonus</span> of 100 Snap Points!
                            </div>
                            <form role="form" action="/Welcome/Register" method="post">
                                <div class="form-group">
                                    <input type="text" name="email" value="" placeholder="Leave your email address here" class="form-control input-lg" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="submit" class="btn btn-block btn-lg">Invite me!</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="always-pay-less">
            <div class="row">
                <div class="col-sm-6 text-vcenter">
                    <h1>Pay less for things you buy</h1>
                    <h3>Shopping together means saving<br />We connect members based on their interests to deliver better value</h3>
                </div>
                <div class="col-sm-6">
                    <img src="/Content/Images/LandingPage/img1.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="container">
            <div class="shopping-with-friends">
                <div class="row">
                    <div class="col-sm-7 hidden-xs">
                        <img src="/Content/Images/LandingPage/img2.png" class="img-responsive" />
                    </div>
                    <div class="col-sm-5">
                        <h1>Shopping with your friends is more fun!</h1>
                        <h3>Now you can do it online</h3>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <img src="/Content/Images/LandingPage/img2.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="earn-points">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Collect Snap Points!</h1>
                    <h3>We reward you for sharing the fun, you can use Snap Points as discount on checkout</h3>
                    <img src="/Content/Images/LandingPage/img3.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="container">
            <div class="join-free">
                <div class="row">
                    <div class="col-sm-7 hidden-xs">
                        <img src="/Content/Images/LandingPage/img4.png" class="img-responsive" />
                    </div>
                    <div class="col-sm-5">
                        <h1>Free to Join!</h1>
                        <h3>Join iiSnap invitation list and unlock bonus of 100 Snap Points!</h3>
                        <form role="form" action="/Welcome/Register" method="post">
                            <div class="form-group">
                                <input type="text" name="email" value="" placeholder="Leave your email address here" class="form-control input-lg" />
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <button type="submit" class="btn btn-block btn-lg">Invite me!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <img src="/Content/Images/LandingPage/img4.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="movie" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">iiSnap - How it works</h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="640" height="360" src="https://www.youtube.com/embed/QDlVWDBfPEE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    $(function () {
        $('#movie').on('hide.bs.modal', function () {
            var $iframe = $('iframe', this);
            $iframe.attr('src', $iframe.attr('src'));
        });
    })
</script>
}