@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
    ViewBag.Title = "Launching Soon";
    ViewBag.ComingSoon = true;
}

<div class="coming-soon v2">
    <div class="top-banner">
        <div class="container">
            <h2 class="text-center text-uppercase">How to save money shopping online?</h2>
            <div class="col-md-10 col-md-offset-1">
                <h4>iiSnap is a social shopping site that lets members drop the price of the products they like by raising the demand using their social network</h4>
                <h4 class="yellow hidden-sm hidden-xs">we are launching very soon</h4>
                <br class="hidden-sm hidden-xs" />
                <h4>
                    How does it work?<br />
                    <a href="#"><i class="fa fa-play-circle"></i></a>
                    <span class="yellow">Press play now</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 benefit">
                    <i class="iisnap-drop"></i>
                    <div>
                        Drop the price and save on anything you buy
                    </div>
                </div>
                <div class="col-sm-4 benefit">
                    <i class="iisnap-computeriisnap"></i>
                    <div>A fun and rewarding way to shop online with your friends</div>
                </div>
                <div class="col-sm-4 benefit">
                    <i class="iisnap-letter"></i>
                    <div>Invite your friends and earn Snap Points</div>
                </div>
            </div>
        </div>
    </div>
    <div class="early-birds">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Early Birds Special Offer</h2>
                    <p>Pre-register to iiSnap today and receive <span style="text-decoration: underline; white-space: nowrap;" data-toggle="popover" data-trigger="hover" data-placement="top">50 Snap Points</span> when we go live.</p>
                    <div class="row">
                        <form method="post" action="/Account/EarlyBird">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input type="email" name="email" class="form-control" placeholder="Email Address" />
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-block btn-snapme">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="steps">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <i class="iisnap-devices"></i>
                    <div>choose product you like</div>
                </div>
                <div class="col-sm-3 text-center">
                    <i class="iisnap-drop-o"></i>
                    <div>drop the price</div>
                </div>
                <div class="col-sm-3 text-center">
                    <i class="iisnap-snap-points"></i>
                    <div>invite friends and earn snap points</div>
                </div>
                <div class="col-sm-3 text-center">
                    <i class="iisnap-cart"></i>
                    <div>checkout and save money</div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-changer">
        <div class="container">
            <h2 class="text-center">We are changing the game and we invite you to play</h2>
            <div class="text-center yellow"><i class="iisnap-snap-coins"></i></div>
            <div class="row">
                <hr />
                <div class="col-sm-6 col-sm-offset-3">
                    <i class="fa fa-plus-circle"></i>drop the proce on items you want to buy
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="col-sm-6 col-sm-offset-3">
                    <i class="fa fa-plus-circle"></i>invite your friends to unlock Snap Points
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="col-sm-6 col-sm-offset-3">
                    <i class="fa fa-plus-circle"></i>earn Snap Point every time a friend you invited buys something
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="col-sm-6 col-sm-offset-3">
                    <i class="fa fa-plus-circle"></i>collect Snap Ponts and use the mon iiSnap to buy things you want
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </div>
    </div>
    <div class="special-invite">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>Early Birds Special Invite</h2>
                    <p>Get exclusive invitation to our pre-launch sales and get additional <span style="text-decoration: underline; white-space:nowrap;" data-toggle="popover" data-trigger="hover" data-placement="top">50 Snap Points</span> to get you started.</p>
                    <div class="row">
                        <form method="post" action="/Account/EarlyBird">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input type="email" name="email" class="form-control" placeholder="Email Address" />
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-block btn-snapme">Let me know</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("[data-toggle=popover]").popover({ html: true, content: "<p class='text-center'>Snap Points are part of the iiSnap reward program.<br/>You can earn Snap Points when friends whom you invited to a sale buy the product.<br/>Snap Point can be used for discounts during any sale on the site." });
        });
    </script>
}
