@model Object
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/content/images/iisnap.ico">

    <meta name="robots" content="noindex">

    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,400italic,600italic,700italic,800italic" rel="stylesheet" type="text/css">

    <title>Welcome to iiSnap</title>

    <link rel="stylesheet" href="/content/scss/materialize.min.css">
    <link href="/content/welcome.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="/content/images/logo.png" /></a>
                <span class="hide-on-small-and-down">Discover your buying power</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://www.facebook.com/iisnaps" target="_blank" class="btn-floating btn waves-effect waves-light facebook-blue"><i class="fa fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="top-banner">
        <div class="container">
            <div class="row">
                <div class="col l6 offset-l1 m8 offset-m1 s12">
                    <h1>THANKS - YOU’RE NOW PART OF SOMETHING AWESOME</h1>
                </div>
            </div>
            <div class="row">
                <div class="col l5 offset-l1 m8 offset-m1 s12">
                    <h4>Share iiSnap with friends and be rewarded with bonus Snap Points at launch!</h4>
                </div>
            </div>
            <div class="row invite">
                <div class="col l5 offset-l1 m8 offset-m1 s12">
                    <div class="row">
                        <div class="col l4 m4 s12">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.iisnap.com/welcome?ref=@Model" target="_blank" class="btn waves-effect waves-light facebook-blue btn-large" title="Facebook"><i class="fa fa-facebook-f"></i></a>
                        </div>
                        <div class="col l4 m4 s12">
                            <a href="https://plus.google.com/share?url=http://www.iisnap.com/welcome?ref=@Model" target="_blank" class="btn waves-effect waves-light google-plus-red btn-large" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="col l4 m4 s12">
                           <a href=”mailto:?subject=iiSnap%20-%20Get%20the%20best%20prices%20with%20a%20little%20help%20from%20your%20friends&body=http://www.iisnap.com/welcome?ref=@Model" target="_blank" class="btn waves-effect waves-light iisnap-yellow btn-large" title="Email"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="invite-link center-align">
        <div class="row">
            <h5 class="col l8 offset-l2 m10 offset-m1 s12">Build your iiSnap squad so you’re ready to snap up the awesome stuff you want by sharing the link below.</h5>
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <span class="iisnap-yellow">http://www.iisnap.com/welcome?ref=@Model</span>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col l10 offset-l1 center-align hide-on-small-only">
                <div style="display: inline-block">
                    <ul>
                        <li><a href="https://www.facebook.com/iisnaps" target="_blank">iiSnap on Facebook</a></li>
                        <li><a href="/Welcome/FAQ">FAQ</a></li>
                        <li><a href="/Welcome/Seller">Sell on iiSnap</a></li>
                        <li><a href="/Welcome/Privacy">Privacy Policy</a></li>
                    </ul>
                </div>
                <hr />
            </div>
            <div class="col l12 m12 s12 center-align">&copy; 2015 iiSnap Corp LTD</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>
