@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="container">
    <div>
        <br />
        This following document sets forth the Privacy Policy for www.iiSnap.com<br />

        iiSnap is committed to providing you with the best possible customer service experience. iiSnap is bound by the Privacy Act 1988 (Crh), which sets out a number of principles concerning the privacy of individuals.<br />
        We at iiSnap know your privacy matters. This Privacy Notice covers how iiSnap uses the personal information we collect through the iiSnap site in this Privacy Notice:<br />
        <em>When we say “iiSnap”, we mean iiSnap.com</em>

        <h3>Collection of your personal information</h3>

        <h4>Information Collected</h4>

        When You Provide Information Directly to Us?<br />
        When you visit the iiSnap Site, you may provide personal information directly to us, including:<br />
        <ul>
            <li>Your contact information, such as your name, your address, telephone number, and email</li>
            <li>Payment information, such as your credit card details, payment service details, and billing address</li>
            <li>We also need your shipping information and the shipping information for people that you want us to ship your purchases to – so we will need shipping contact information such as name, shipping address and telephone number.</li>
            <li>When you use an external social network (for example, your Facebook account) to log in to the iiSnap site or to interact with iiSnap in another way, we may collect your name and other details from your social network profile and account (please see your social network’s privacy policy or support documents for more information about their sharing of information with connected accounts).There are many aspects of the site, which can be viewed without providing personal information, however, for access to future iiSnap customer support features you are required to submit personally identifiable information. This may include but not limited to a unique username and password, or provide sensitive information in the recovery of your lost password.</li>
        </ul>

        <h4>Sharing of your personal information</h4>
        We may occasionally hire other companies to provide services on our behalf, including but not limited to handling customer support enquiries, processing transactions or customer freight shipping. Those companies will be permitted to obtain only the personal information they need to deliver the service. iiSnap takes reasonable steps to ensure that these organisations are bound by confidentiality and privacy obligations in relation to the protection of your personal information.<br />

        <h4>Use of your personal information</h4>
        For each visitor to reach the site, we expressively collect the following non-personally identifiable information, including but not limited to browser type, version and language, operating system, pages viewed while browsing the Site, page access times and referring website address. This collected information is used solely internally for the purpose of gauging visitor traffic, trends and delivering personalized content to you while you are at this Site.<br />
        From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will use for these new purposes only, data collected from the time of the policy change forward will adhere to our updated practices.
        <h4>Changes to this Privacy Policy</h4>
        iiSnap reserves the right to make amendments to this Privacy Policy at any time. If you have objections to the Privacy Policy, you should not access or use the Site.
        <h4>Accessing Your Personal Information</h4>
        You have a right to access your personal information, subject to exceptions allowed by law. If you would like to do so, please let us know. You may be required to put your request in writing for security reasons, iiSnap reserves the right to charge a fee for searching for, and providing access to, your information on a per request basis.

        <h4>Contacting us</h4>
        If you have any questions or comments about this Privacy Notice, or if you would like us to update information we have about you, please contact us via email privacy@iisnap.com.
    </div>
</div>