@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="container">
    <div class="right">October, 2015</div>
    <h4>iiSnap Privacy Policy</h4>
    <p>
        This following document sets forth the Privacy Policy for iiSnap.com. iiSnap is committed to providing you with the best possible customer service Experience. iisnap is bound by the Privacy Act 1988 (Crh), which sets out a Number of principles concerning the privacy of individuals. We at iiSnap know your privacy matters. This Privacy Notice covers how iisnap uses the personal information we collect through the iiSnap site in this Privacy policy.
    </p>
    <h5>Notice</h5>
    <p>
        When we say “iiSnap”, we mean iiSnap.com site (“iiSnap”) provides this Privacy Policy to inform you of our policies and procedures for the collection, use and disclosure of personal information we receive from users of iisnap.com (this “Site”). This Privacy Policy only applies to information you provide to us through the Site. This Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your consent. We will post all privacy policy changes on this page <a href="http://www.iisnap.com/privacy">http://www.iisnap.com/privacy</a> if this policy incurs significant changes; we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes).
    </p>
    <h5>Social Networks</h5>
    <p>
        When you use an external social network (for example, your Facebook account) to log in to the iiSnap site or to interact with iiSnap in another way, we may collect your name and other details from your social network profile and account (please see your social network’s privacy policy or support documents for more information about their sharing of information with connected accounts). There are aspects of the site, which can be viewed without providing personal information, however, for access to future iisnap customer support features you are required to submit personally identifiable information. This may include but not limited to a unique username and password, or provide sensitive information in the recovery of your lost password.
    </p>
    <h5>Your Data</h5>
    <p>
        Your data serves the following functions:<br />
        Allows iiSnap to better understand your needs as a user, help you Build your social shopping network, and personalize your shopping experience. Information you provide to iiSnap could also be used for Customer Service, Accounting, and New Product Promotion. iiSnap may use aggregate or anonymous information which will not be linked to identified individuals for various other uses for itself and third parties.
    </p>
    <h5>Third Parties</h5>
    <p>
        We will not disclose your personal information with any third parties for direct marketing purposes. We will only disclose personal information to third parties if applicable laws, regulations, or legal and regulatory processes require us to, or if there is a sale, merger, transfer, or exchange of control of iiSnap to another company.<br />
        We may share consolidated non-personally-identifiable data that does not include Personal Information and we may otherwise disclose Log Data with third parties for industry analysis, demographic profiling and other purposes. Any aggregated information shared in these contexts will not contain your specific Personal Information.<br />
        By request, individuals may review their Personal Information or logged site behavior contained in Canopy files by contacting the iiSnap Privacy Officer <a href="mailto:privacy@iisnap.com">privacy@iisnap.com</a>. All requests for this data will be provided within a 30-day period. If an individual believes any of their personal information is inaccurate, we will make appropriate corrections.
    </p>
    <h5>Social Networks and External Links</h5>
    <p>
        When you use an external social network (for example, your Facebook account) to log in to the iiSnap site or to interact with iiSnap in another way, we may collect your name and other details from your social network profile and account (please see your social network’s privacy policy or support documents for more information about their sharing of information with connected accounts).
    </p>
    <h5>Membership</h5>
    <p>
        When you register as a member of iiSnap, you are agreeing to receive emails and system notices for announcements, newsletters, recommendations and policy updates. If you would like to opt out of our emails, please contact the privacy officer at <a href="mailto:privacy@iisnap.com">privacy@iisnap.com</a> or follow up unsubscribe link on those emails.<br />
        iiSnap reserves the right to delete your account without notice, for legitimate business reasons. In the unlikely even that this occurs, we will provide an email notification with further details.
    </p>
    <h5>Membership Termination</h5>
    <p>
        If you would like your public profile and membership with iiSnap terminated, log in, go to your dashboard and click my account, edit. Then follow the "Delete my account" link.
    </p>
    <h5>The Public and the Community</h5>
    <p>
        Non members (the “Public”) and members of iiSnap will be able to view your public profile, including: your first name, surname, iiSnap username, Activity such as Joining a sale, your likes, products related activities, “Snap Points” leader board.
    </p>
    <p>&nbsp;</p>
    <p>
        If you have any questions about this Policy or any of the information we have provided, please contact us at <a href="mailto:privacy@iisnap.com">privacy@iisnap.com</a>.
    </p>
</div>