@{
    ViewBag.Title = "Welcome to iisnap";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="thank-you-page">
    <div class="container">
        <div class="text-center">
            <h3>Thank you for registering for out invitation list.</h3>
            <div>Once the site goes live you will be the first to know!!!</div>
            <br />
            <div>
                We will also email you an invitation link you can use to spread the word among your friends!<br />
                The more friends you will bring, the more reward you will receive once we go live!
            </div>
        </div>
    </div>
</div>