@model string
@{
    ViewBag.Title = "Welcome to iisnap";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="thank-you-page">
    <div class="container">
        <div class="text-center">
            <br />
            <h2>Thank you for joining the invitation list!</h2>
            <br />
            <h4>Shopping with friends is more rewarding!<br />Invite your friends to join iiSnap and unlock 50 Snap Points for every registered member you bring to iiSnap</h4>
            <br />
            <div class="well">
                <h4>Share the following link with your friends and family or use your social networks</h4>
                <input class="ref-link" type="text" value="http://www.iisnap.com/welcome?ref=@Model" readonly onclick="this.setSelectionRange(0, this.value.length)" />
                <div>
                    <a onclick="sendFBInvitation('@Model')" class="btn btn-facebook facebook" title="Facebook"><i class="fa fa-facebook-f"></i></a>
                    <a href="https://plus.google.com/share?url=http://www.iisnap.com/welcome?ref=@Model" class="btn btn-google-plus google-plus" title="Google+"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>