@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/content/images/iisnap.ico">

    <meta name="twitter:title" content="iiSnap - Now you can afford anything you want">
    <meta name="twitter:description" content="Get the best prices with a little help from your friends">
    <meta name="twitter:image" content="http://www.iisnap.com/content/images/iisnap_fb_share.png">
    <meta property="og:title" content="iiSnap - Now you can afford anything you want">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.iisnap.com/">
    <meta property="og:description" content="Get the best prices with a little help from your friends">
    <meta property="og:image" content="http://www.iisnap.com/content/images/iisnap_fb_share.png">

    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,400italic,600italic,700italic,800italic" rel="stylesheet" type="text/css">

    <title>Welcome to iiSnap</title>

    <link rel="stylesheet" href="/content/scss/materialize.min.css">
    <link href="/content/welcome.css" rel="stylesheet" />
</head>
<body ng-app="iisnapApp" ng-controller="welcomeController">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="/content/images/logo.png" /></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    @*<li><a href="#">Start Now</a></li>*@
                    <li><a class="modal-trigger" href="#about">How does it work?</a></li>
                    <li><a href="https://www.facebook.com/iisnaps" target="_blank" class="btn-floating btn waves-effect waves-light facebook-blue"><i class="fa fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="top-banner">
        <div class="container">
            <div class="row">
                <div class="col l6 offset-l1 m8 offset-m1">
                    <h1>Now you can afford anything you want</h1>
                </div>
            </div>
            <div class="row">
                <div class="col l5 offset-l1 m8 offset-m1">
                    <h4>Get the best prices with a little help from your friends</h4>
                </div>
            </div>
            <div class="row">
                <div class="col l5 offset-l1 m8 offset-m1 s12">
                    <form name="topForm" novalidate ng-submit="submitForm($event)">
                        <div class="row">
                            <div class="col l8 m8 s12">
                                <input type="email" name="email" value="" placeholder="Email" ng-class="{invalid: topForm.email.$invalid && !topForm.email.$pristine}" ng-model="email" required />
                            </div>
                            <div class="col l4 m4 s12">
                                <button class="btn waves-effect waves-light yellow darken-1 btn-large" type="submit">start now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="yellow-bar iisnap-yellow center-align">
        <div>
            <ul>
                <li>Choose Products</li>
                <li>>></li>
                <li>Join Sale</li>
                <li>>></li>
                <li>Invite Friends &amp; Pay Less</li>
            </ul>
        </div>
        <div class="yellow-arrow"></div>
    </div>
    <div class="row">
        <div class="col l6 m12 s12">
            <div class="video center-align">
                <img src="~/Content/Images/logo.png" class="hide-on-small-only" />
                <h4>How does it work?</h4>
                <div class="video-bg">
                    <a class="modal-trigger hide-on-small-only" href="#about"></a>
                    <a class="hide-on-med-and-up" href="https://www.youtube.com/embed/rJT4Pny1xI4" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12">
            <ul class="benefits">
                <li><img src="/content/images/landingpage/step1.png" /><div class="valign-wrapper"><div class="valign"><h5>Choose Product</h5><div>Discover awesome collection of products handpicked from around the globe</div></div></div></li>
                <li><img src="/content/images/landingpage/step2.png" /><div class="valign-wrapper"><div class="valign"><h5>Join Sale</h5><div>The more people join the sale, the lower the price everyone pay</div></div></div></li>
                <li><img src="/content/images/landingpage/step3.png" /><div class="valign-wrapper"><div class="valign"><h5>Invite Friends</h5><div>Shopping together is fun! Invite friends and unlock discounts.</div></div></div></li>
            </ul>
        </div>
    </div>
    <div class="bottom-banner">
        <div class="row">
            <div class="col l3 m2 hide-on-small-only">
                <div class="balloons left">&nbsp;</div>
            </div>
            <div class="col l6 m8 s12">
                <h1 class="center-align">Power to the people</h1>
                <form name="bottomForm" novalidate ng-submit="submitForm($event)">
                    <div class="row">
                        <div class="col l8 m8 s12">
                            <input type="email" name="email" value="" placeholder="Email" ng-class="{invalid: bottomForm.email.$invalid && !bottomForm.email.$pristine}" ng-model="email" required />
                        </div>
                        <div class="col l4 m4 s12">
                            <button class="btn waves-effect waves-light yellow darken-1 btn-large" type="submit">start now</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 m2 hide-on-small-only">
                <div class="balloons right">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col l10 offset-l1 center-align hide-on-small-only">
                <div style="display: inline-block">
                    <ul>
                        <li><a href="#" target="_blank">iiSnap on Facebook</a></li>
                        <li><a href="#" target="_blank">FAQ</a></li>
                        <li><a href="#" target="_blank">Sell on iiSnap</a></li>
                        <li><a href="#" target="_blank">Privacy Policy</a></li>
                    </ul>
                </div>
                <hr />
            </div>
            <div class="col l12 m12 s12 center-align">&copy; 2015 iiSnap Corp LTD</div>
        </div>
    </div>
    <div id="about" class="modal">
        <div class="modal-content">
            <div class="video-container no-controls">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/rJT4Pny1xI4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular-cookies.min.js"></script>
    <script src="~/Scripts/welcome.js"></script>
</body>
</html>
