@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="MyHomeController" layout="column" class="ii-my-home">
    <div class="ii-community-banner" layout-align="start center" layout-padding>
        <div style="width: 100%; max-width: 1200px; margin: 0 auto;">
            <h1>My Communities</h1>
        </div>
    </div>

    <div style="width: 100%; max-width: 1200px; margin: 0 auto;">
        <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
            <md-tab>
                <md-tab-label><span class="ii-top-label">discover</span></md-tab-label>
                <md-tab-body class="md-padding">
                    <div ng-repeat="community in communities" class="ii-home-community">
                        <div class="ii-section-header">
                            <md-button class="md-primary" href="/community/{{community.name}}">{{community.name}}</md-button>
                        </div>
                        <div layout-xs="column" layout="row" layout-wrap layout-align="center center">
                            <div flex-xs flex-gt-xs="50" flex-gt-md="33" class="ii-product" ng-repeat="product in community.products">
                                <md-card>
                                    <md-card-content>
                                        <div class="hero" title="{{product.name}}" ng-click="showProduct(product)">
                                            <div style="width: 100%; height: auto; padding-bottom: 56.25%; background: url({{product.image}}) no-repeat 50% 50%; background-size: {{product.image_mode}};"></div>
                                        </div>
                                        <div class="md-title">{{product.name}}</div>
                                        <div class="md-subhead">{{product.description}}</div>
                                        <div class="ii-product-full-details">
                                            <div ng-show="product.mode == 'info' || !product.mode">
                                                <div layout="row" class="ii-prices">
                                                    <span class="md-title ii-text-crossed">$ {{product.price.toFixed(2).toLocaleString()}}</span>
                                                    <span flex></span>
                                                    <span class="md-title">$ {{product.target.toFixed(2).toLocaleString()}}</span>
                                                </div>
                                                <md-progress-linear md-mode="determinate" value="{{product.progress}}" class="md-accent"></md-progress-linear>
                                                <h2 style="text-align: center; font-size: 24px;">
                                                    <md-icon class="material-icons" style="line-height: 22px;">attach_money</md-icon>&nbsp;{{product.current_price.toFixed(2).toLocaleString()}}
                                                </h2>
                                            </div>
                                            <div ng-show="product.mode == 'shipping'">
                                                <div layout="row" ng-form name="shippingForm">
                                                    <md-input-container class="md-block" flex="30">
                                                        <label>Postal Code</label>
                                                        <input name="postalCode" ng-model="postalCode" placeholder="3000" required ng-pattern="/^[0-9]{4}$/" ng-maxlength="4" ng-change="getQuote()">
                                                    </md-input-container>
                                                    <span flex></span>
                                                    <md-input-container class="md-block" flex="60">
                                                        <span ng-hide="loadingQuote">{{postalDetails || 'Enter / change postal code'}}</span>
                                                        <md-progress-linear ng-show="loadingQuote" class="md-accent"></md-progress-linear>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div ng-show="product.mode == 'social'">
                                                <div layout="row">
                                                    <img src="http://graph.facebook.com/10152734377022123/picture?type=square" class="ii-avatar" alt="Michael Bar" title="Michael Bar" />
                                                    <img src="http://graph.facebook.com/10152686035091417/picture?type=square" class="ii-avatar" alt="Michael Bar" title="Michael Bar" />
                                                    <a class="ii-more-snappers" href="">and 24 more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="start center">
                                        <span flex></span>
                                        <md-button class="md-icon-button" ng-class="{'md-raised md-primary': product.mode == 'social'}" aria-label="Activity" ng-click="product.mode = 'social'">
                                            <md-icon class="material-icons">people</md-icon>
                                        </md-button>
                                        <md-badge>{{product.snaps}}</md-badge>
                                        <md-button class="md-icon-button" ng-class="{'md-raised md-primary': product.mode == 'shipping'}" aria-label="Shipping Calculation"
                                                   ng-click="product.mode = 'shipping'">
                                            <md-icon class="material-icons">local_shipping</md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button" ng-class="{'md-raised md-primary': product.mode == 'info' || !product.mode}" aria-label="Sale Details"
                                                   ng-click="product.mode = 'info'">
                                            <md-icon class="material-icons">local_offer</md-icon>
                                        </md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label><span class="ii-top-label">coming soon</span></md-tab-label>
                <md-tab-body class="md-padding">
                    <div layout="column" layout-align="center center">
                        <div class="md-title">{{featured_product.name}}</div>
                        <div class="ii-video-wrapper">
                            <div class="ii-video">
                                <iframe ng-src="{{featured_product.video_url | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="ii-review" ng-bind-html="featured_product.review"></div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label><span class="ii-top-label">snap box</span></md-tab-label>
                <md-tab-body class="md-padding">
                    <md-card>
                        <md-card-content>
                            <form name="addWantedPRoductForm" novalidate>
                                <div layout="row">
                                    <md-input-container flex class="md-block">
                                        <label>Url</label>
                                        <input ng-model="wantedProductUrl" type="url" required />
                                    </md-input-container>
                                    <md-input-container style="margin-top: 6px">
                                        <md-button class="md-raised md-primary">Add</md-button>
                                    </md-input-container>
                                </div>
                            </form>
                        </md-card-content>
                    </md-card>
                    <div layout-xs="column" layout="row" layout-wrap layout-padding layout-align="center center">
                        <div flex-xs flex-gt-xs="33" flex-gt-md="25" class="ii-wanted-product" ng-repeat="wproduct in mysnapbox">
                            <md-card ng-click="showExternalProduct(wproduct)">
                                <md-card-content>
                                    <div class="hero" title="{{product.name}}">
                                        <div style="width: 100%; height: auto; padding-bottom: 56.25%; background: url({{wproduct.image}}) no-repeat 50% 50%; background-size: {{wproduct.image_mode}};"></div>
                                    </div>
                                    <div class="md-title">{{wproduct.name}}</div>
                                    <div class="md-subhead">Wanted by: {{wproduct.wants}} snappers</div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>


@section footer_scripts
{
    <script type="text/javascript" src="~/Scripts/App/myhome.js"></script>
}