@using SNAPME.Web.Helpers;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "My Favorite Products";
}

<div class="container" ng-controller="userFavoritesController" ng-init="init('@User.Identity.GetUserId()', '@User.Identity.DisplayName()')">
    <div class="row">
        <div class="col m3">
            @Html.Partial("_MyAccountMenu")
        </div>
        <div class="col m9">
            <div class="card">
                <div class="card-content">
                    <div class="card-title black-text">Favorite Products</div>
                    <div class="row">
                        <div class="col m4" ng-repeat="product in favorites" ng-cloak>
                            <div class="card product-simple-card" ng-click="openProduct(product.name, product.id)">
                                <div class="card-image">
                                    <div style="background-image: url(/image/{{product.id}}/0)"></div>
                                </div>
                                <div class="card-content">
                                    {{product.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/controllers/userfavorites.js"></script>
}