@model SNAPME.Web.Models.Account.MyAccountPointsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Points";
}

<div class="container-fluid white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_AccountMenu", Model)
            </div>
            <div class="col-md-9">
                <h3 class="text-center">SNAP POINTS</h3>
                <hr />
                <p>
                    You can use your earned Snap Points during a checkout process on any purchase on the site or you can give them as a gift to a friend registered on the site.
                </p>
                <h3>How to earn more points?</h3>
                <div>
                    Snap Points are earned every time you invite a freind to an active sale an he or she purchases the product on sale.
                </div>
            </div>
        </div>
    </div>
</div>

