@using SNAPME.Web.Helpers;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "My Snaps";
}

<div class="container" ng-controller="userSnapsController" ng-init="init('@User.Identity.GetUserId()', '@User.Identity.DisplayName()')">
    <div class="row">
        <div class="col m3">
            @Html.Partial("_MyAccountMenu")
        </div>
        <div class="col m9">
            <div class="card">
                <div class="card-content">
                    <div class="card-title black-text">Snaps</div>
                    <div class="row">
                        <div class="col m6" ng-repeat="product in snaps" ng-cloak>
                            <div class="card product-simple-card">
                                <div class="card-image waves-effect waves-block waves-light" ng-click="openProduct($event, product.name, product.id)">
                                    <div style="background-image: url(/image/{{product.id}}/0)"></div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/controllers/usersnaps.js"></script>
}