@model IEnumerable<SNAPME.Tokens.ProductToken>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" ng-controller="adminProductsController">
    <div class="right-align">
        <a class="waves-effect waves-light btn blue" href="/Admin/Product">Add Product</a>
    </div>
    <table class="responsive-table bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Short Description</th>
                <th>Images</th>
                <th>Sale</th>
            </tr>
        </thead>
        <tbody ng-cloak>
            <tr ng-repeat="product in products">
                <td><a href="/admin/product/{{product.id}}">{{product.name}}</a></td>
                <td>{{product.category}}</td>
                <td>{{product.short_descritpion}}</td>
                <td>
                    <span ng-repeat="idx in product.image_indexes" style="margin-right: 5px; display: inline-block;">
                        <img class="materialboxed" src="/image/{{product.id}}/{{idx}}" width="40" />
                    </span>
                </td>
                <td>
                    <a href="#!">
                        <i class="material-icons" ng-if="product.sale == null">schedule</i>
                        <i class="material-icons" ng-if="product.sale != null">settings</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Areas/Admin/Scripts/products.js"></script>
}
