<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation"><a href="#">iiSnap on Facebook</a></li>
                    <li role="presentation"><a href="#">FAQ</a></li>
                    <li role="presentation"><a href="#">Sell on iiSnap</a></li>
                    <li role="presentation"><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 text-center">
                &copy;2015 iiSnap Corp LTD. All rights reserved.
            </div>
        </div>
    </div>
</footer>
