<div class="footer">
    <div class="row">
        <div class="col l10 offset-l1 center-align hide-on-small-only">
            <div style="display: inline-block">
                <ul>
                    <li><a href="https://www.facebook.com/iisnaps" target="_blank">iiSnap on Facebook</a></li>
                    <li><a href="/Welcome/FAQ">FAQ</a></li>
                    <li><a href="/Welcome/Seller">Sell on iiSnap</a></li>
                    <li><a href="/Welcome/Privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <hr />
        </div>
        <div class="col l12 m12 s12 center-align">&copy; 2015 iiSnap Corp LTD</div>
    </div>
</div>