<footer class="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <ul>
                    <li><a href="https://www.facebook.com/iisnaps" target="_blank">iiSnap on Facebook</a></li>
                    <li><a href="/Welcome/FAQ">FAQ</a></li>
                    <li><a href="/Seller">Sell on iiSnap</a></li>
                    <li><a href="/Welcome/Privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 text-center">
                &copy;2015 iiSnap Corp LTD. All rights reserved.
            </div>
        </div>
    </div>
</footer>
