<footer>
    <div class="container">
        <div class="row headers">
            <div class="col-md-2 col-md-offset-2">SHOP</div>
            <div class="col-md-2">ABOUT US</div>
            <div class="col-md-2">SUPPORT</div>
            <div class="col-md-2">LEGAL</div>
            <div class="col-md-2">SELLERS</div>
        </div>
        <div class="row entries">
            <div class="col-md-2">
                <img src="~/Content/Images/logo-footer.png" />
            </div>
            <div class="col-md-2">
                <ul>
                    <li role="navigation"><a href="#">Active Sales</a></li>
                    <li role="navigation"><a href="#">Upcoming Sales</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li role="navigation"><a href="/home/faq">FAQ</a></li>
                    <li role="navigation"><a href="/home/howitworks">How does it work?</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li role="navigation"><a href="/home/ordersandreturns">Orders & Returns</a></li>
                    <li role="navigation"><a href="/home/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li role="navigation"><a href="/home/terms">Terms and Conditions</a></li>
                    <li role="navigation"><a href="/home/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li role="navigation"><a href="/seller">Sell on iiSnap</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12">
                &copy;2015 iiSnap Corp LTD. All rights reserved.
            </div>
        </div>
    </div>
</footer>
