<div class="container">
    <div class="row">
        <div class="col l2">
            <img class="logo" src="~/Content/Images/logo-footer.png" />
        </div>
        <div class="col l2">
            <h6>Shop</h6>
            <ul>
                <li><a class="white-text" href="/">Active sales</a></li>
            </ul>
        </div>
        <div class="col l2">
            <h6>About Us</h6>
            <ul>
                <li><a class="white-text" href="/FAQ">FAQ</a></li>
                <li><a class="white-text" href="/HowItWorks">How it works</a></li>
            </ul>
        </div>
        <div class="col l2">
            <h6>Support</h6>
            <ul>
                <li><a class="white-text" href="#!">Orders &amp; returns</a></li>
                <li><a class="white-text" href="/ContactUs">Contact us</a></li>
            </ul>
        </div>
        <div class="col l2">
            <h6>Legal</h6>
            <ul>
                <li><a class="white-text" href="/Terms">Terms &amp; conditions</a></li>
                <li><a class="white-text" href="/Privacy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col l2">
            <h6>Sellers</h6>
            <ul>
                <li><a class="white-text" href="#!">Sell on iiSnap</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col l12">
            &copy; 2015 iiSnap Corp LTD. All rights reserved.
        </div>
    </div>
</div>
