<nav ng-controller="accountController">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="/content/images/logo.png" /></a>
            <ul id="nav-mobile" class="right">
                @if (Request.IsAuthenticated)
                {
                    <li><a class="dropdown-button" href="#!" data-activates="accountMenu">@User.Identity.Name<i class="material-icons right">arrow_drop_down</i></a></li>
                }
                else
                {
                    <li><a class="modal-trigger" href="#loginModal">Sign In</a></li>
                }
            </ul>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <ul id="accountMenu" class="dropdown-content">
            <li><a href="#!">My Account</a></li>
            <li class="divider"></li>
            <li><a href="#!" ng-click="logoff($event)">Sign out</a></li>
        </ul>
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hide" }))
        {
            @Html.AntiForgeryToken()
        }
    }
</nav>
