<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="/content/images/logo.png" /></a>
            <span class="hide-on-small-and-down">Discover your buying power</span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="modal-trigger" href="#about">How does it work?</a></li>
                <li><a href="https://www.facebook.com/iisnaps" target="_blank" class="btn-floating btn waves-effect waves-light facebook-blue"><i class="fa fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </div>
</nav>