<nav class="navbar navbar-default landing-page navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Welcome">
                <img alt="iiSnap" src="~/Content/Images/logo.png">
            </a>
        </div>
    </div>
</nav>
