@model SNAPME.Tokens.ProductToken
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grey-bg">
    <div class="container">
        <div class="row product">
            <div class="col-sm-6 col-xs-12 text-center">
                <a href="#" title="Add to favorites" class="ovr ovr-favorite"><i class="fa fa-heart"></i></a>
                <a href="#" title="Like" class="ovr ovr-like"><i class="fa fa-thumbs-o-up"></i></a>
                <a href="#" title="Social activity" class="ovr ovr-group"><i class="fa fa-group"></i></a>
                <div class="drops-counter">nnn Drops</div>
                <div class="images" style="overflow: hidden;">
                    @foreach (var image in Model.images)
                    {
                        if (!string.IsNullOrEmpty(image))
                        {
                            <div style="background: url(@image) no-repeat 50% 50%; background-size: cover;" class="hidden"></div>
                        }
                    }
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div role="tabpanel" class="tabs-left">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#details" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-dollar"></i></a></li>
                        <li role="presentation"><a href="#share" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-share-alt"></i></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="details">
                            <h2 class="text-center title">@Model.name</h2>
                            <div class="text-center short-description">@Model.short_descritpion</div>
                            <div class="price-range">
                                <div class="pull-left">@Model.retail_price.ToString("C")</div>
                                <div class="pull-right"><i class="fa fa-flag-checkered"></i></div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                        <span class="sr-only">50% Complete</span>
                                    </div>
                                    <div class="progress-indicator" style="left: 50%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="share">...</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var w = $('.product .images').width();
        var h = w / 16 * 9;
        //$('.product .images, .product .nav-tabs, .product .tab-content').css('height', h + 'px');
        $('.product .images > div').css('height', h + 'px').css('width', w + 'px').removeClass('hidden');
        $('.product .images').bxSlider({
            slideWidth: w,
            minSlides: 1,
            maxSlides: 1,
            slideMargin: 0
        });
    </script>
}