@model SNAPME.Tokens.ProductToken
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

<div ng-app="iisnapApp" ng-controller="saleController" ng-init="init('@Model.id')">
    <div>
        <div class="white">
            <div class="container sale">
                <div class="row">
                    <div class="col l5">
                        <div class="slider" ng-cloak>
                            <ul class="slides">
                                <li ng-repeat="idx in product.image_indexes">
                                    <img src="/image/{{product.id}}/{{idx}}" class="materialboxed" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l7" ng-cloak>
                        <div class="title">{{product.name}}</div>
                        <div class="sub-title">{{product.short_description}}</div>
                        <div class="product-price" ng-show="product.sale != null">
                            <div class="start left">${{Math.floor(product.sale.msrp)}}.<span>{{product.sale.msrp.toFixed(2).toString().substr(-2)}}</span></div>
                            <div class="end right">${{Math.floor(product.sale.target)}}.<span>{{product.sale.target.toFixed(2).toString().substr(-2)}}</span></div>
                            <div class="range">
                                <div class="progress grey lighten-2">
                                    <div class="determinate amber lighten-1" style="width: {{product.sale.progress}}%;"></div>
                                </div>
                                <div class="indicator amber lighten-1" style="left: {{product.sale.progress - 1}}%"></div>
                                <div class="drops-counter amber lighten-1" style="left:{{Math.min(92, Math.max(6, product.sale.progress - 1))}}%">{{product.sale.drops}} Drops</div>
                                <div class="current-price grey darken-4" style="left:{{Math.min(92, Math.max(6, product.sale.progress - 1))}}%">${{Math.floor(product.sale.price)}}.{{product.sale.price.toFixed(2).toString().substr(-2)}}</div>
                            </div>
                            <div class="sale-actions">
                                <button type="button" class="waves-effect waves-light btn-large join" ng-disabled="{{product.sale.joined}}">Join Sale</button>
                                <br />
                                <div class="potential-points tooltipped" data-position="bottom" data-delay="50" data-tooltip="Upon successful checkout your account will be credited with the earned Snap Points.">Collect {{product.sale.points}}</div>
                            </div>
                        </div>
                        <div class="no-active-sale" ng-show="product.sale == null">
                            Currently, there item is not on sale. <br />Want to know when it goes on sale?
                            <div>
                                <button type="button" class="btn waves-effect yellow">Let me know</button>
                            </div>
                        </div>
                        <div class="share-buttons left">
                            <a class="btn btn-facebook"><i class="fa fa-facebook-f"></i></a>
                            <a class="btn btn-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <div class="points right">
                            <div class="invite">
                                <i class="fa fa-facebook-f"></i>invite<span class="amount">+ 25 SP</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="center-align" ng-show="product.sale != null">
                            <div class="time-left">
                                <i class="material-icons left">av_timer</i> Sale ends in {{product.sale.ends_in}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container sale">
            <div class="row" ng-cloak>
                <div class="col l9">
                    <div class="section-header">Descripion</div>
                    <p>
                        {{product.description}}
                    </p>
                    <div class="section-header">Comments<a class="right modal-trigger" href="#comment"><i class="fa fa-pencil"></i> Write a comment</a></div>
                    <p class="comment" ng-repeat="comment in product.comments">
                        <img src="/account/image/{{comment.user_id}}" /><span class="username">{{comment.username}}</span> <span><i class="tiny material-icons" ng-repeat="n in [] | range:comment.rating">star</i></span><br />
                        <em>{{comment.comment}}</em>
                    </p>
                    <p ng-if="product.comments.length == 0">
                        No comments yet! Be the first to comment on {{product.name}}.
                    </p>
                </div>
                <div class="col l3">
                    <div class="section-header">Activity</div>
                    <div>
                        <ul class="social-activity">
                            <li class="grey lighten-5">
                                <div class="row valign-wrapper">
                                    <div class="col s3">
                                        <img src="http://graph.facebook.com/10152299152237123/picture?type=square" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </div>
                                    <div class="col s9">
                                        <span class="black-text">
                                            Michael joined the sale.
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="grey lighten-5">
                                <div class="row valign-wrapper">
                                    <div class="col s3">
                                        <img src="http://graph.facebook.com/10152686035091417/picture?type=square" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                    </div>
                                    <div class="col s9">
                                        <span class="black-text">
                                            Ami joined the sale.
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="comment" class="modal">
    <div class="modal-content">
        <h4>Leave a comment</h4>
        <p>text and all</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Post</a>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/product.js"></script>
}
