@model string
@{
    Layout = null;
}

<body style="font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; font-size: 14px; line-height: 18px; margin: 0; padding: 20px 0">
    <p>
        Hi
    </p>
    <p>
        We would like to thank you for your intereset in iiSnap.<br /> As soon as we launch our platform, you will be notified and be one of the first to be able to buy excellent products for a price that is just right.
    </p>
    <p>
        We are all about taking the prices down for you, but to succeed, we need you to bring your friends along!<br />So don't be shy, send your friends the following personalized invitations link, that will allow you to get bonus Snap Points once your friends join iiSnap.
        <br />
        <br />
        <a href="http://www.iisnap.com/welcome?ref=@Model" target="_blank" style="color: #0093CC;">http://www.iisnap.com/welcome?ref=@Model</a>
    </p>
    <br />
    <div>
        <img src="cid:{0}" style="width: 90px; float: left;" />
        <div style="float: left; margin-left: 20px;">
            See you soon,<br/>
            iiSnap Team
        </div>
    </div>
</body>