@model string
@{
    Layout = null;
}

<body style="font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; font-size: 14px; line-height: 18px; margin: 0; padding: 20px 0">
    <p>
        Hi,
    </p>
    <p>
        Thanks for joining the iiSnap revolution!
    </p>
    <p>
        You’ll now be the first to know when our platform is launched, giving you first access to some of the world’s best products, all for a price that’s right for you.
    </p>
    <p>
        To make sure we can offer you prices well below what you’d pay elsewhere, we need you to bring your friends along!
    </p>
    <p>
        So don't be shy, invite your friends using the personalized link below. For every friend that joins, you’ll be rewarded with bonus Snap Points.
    </p>
    <p>
        <a href="http://www.iisnap.com/welcome?ref=@Model" target="_blank" style="color: #0093CC;">http://www.iisnap.com/welcome?ref=@Model</a>
    </p>
    <br />
    <div>
        <div>
            We'll be in touch soon,<br/>
            iiSnap Team
        </div>
        <img src="cid:{0}" style="margin-top: 20px;" />
    </div>
</body>