@model SNAPME.Web.Models.Emails.SellerWelcomeModel
@{
    Layout = null;
}

<body style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 14px; line-height: 18px;">
    <div style="background: transparent url('http://www.iisnap.com/Content/Images/logo.png') no-repeat top left; padding-top: 60px;">
        <p>
            Hi @Model.Name!
        </p>
        <p>
            It's Ami from iiSnap! It was great meeting you at the Hong Kong electronics fair!
        </p>
        <p>
            I would like to personally welcome you to iiSnap Trusted Suppliers and Sellers Network. We've created a dedicated account for your company,  which will allow you:<br />
            1. To update important information related to your company's profile<br />
            2. Manage a list of products including high-resolution images, prices, sizes and description.<br />
        </p>
        <p>
            Following are your account credentials:
        </p>
        <p>
            Username: &nbsp; <strong>@Model.Email</strong><br />
            Password: &nbsp; <strong>@Model.Password</strong>
        </p>
        <p>
            <strong>What to do next?</strong><br />
            Please <a href="http://www.iisnap.com/Seller/Login">login to your seller portal</a> and update you company's info and add all relevant products.<br />
            Once the information has been updated in our system, our team will review it and notify you by email when we are ready to go live with it or whether there are some missing details.
        </p>
        <p>
            <strong>Got more questions?</strong><br />
            Please view our <a href="http://www.iisnap.com/Seller/Home/FAQ">Suppliers & Sellers FAQ</a>.<br />
            If you have even more questions you can contact me directly at <a href="mailto:ami@iisnap.com">ami@iisnap.com</a>.
        </p>
        <p>
            I would like to thank you for showing us your product offering and we look forward to do business with you.
        </p>
        <p style="font-weight: bold; background: transparent url('http://www.iisnap.com/Content/Images/logo.png') no-repeat center left; padding-left: 150px;">
            Best Regards,<br />
            Businesses Development Manager<br />
            <a href="http://www.iisnap.com">www.iisnap.com</a><br />
            E-mail : <a href="mailto:ami@iisnap.com">ami@iisnap.com</a><br />
            Phone: +61 423 720727<br />
            2/11 Milford Street<br />
            East Victoria Park, WA, Australia, 6151
        </p>
    </div>
    <div>
        <hr style="border-bottom: none;" />
        &copy; @DateTime.UtcNow.Year iiSnap Corp LTD - All Rights Resereved
    </div>
</body>