@{
    Layout = "~/Areas/Seller/Views/Shared/_SellerLayout.cshtml";
}

<div class="container faq">
    <h2>
        <span>Seller FAQ</span>
    </h2>
    <hr />
    <div>
        <dl>
            <dt>What is iiSnap?</dt>
            <dd>iiSnap is a social e-commerce shopping club that bring people together to create a buying power which benefits both our customers and our supply partners.</dd>
            <dt>What type of partners iiSnap works with?</dt>
            <dd>iiSnap partners with manufactures, wholesalers and products' creators that have great quality products and can offer fast and effective order fulfilment.</dd>
            <dt>What are the benefits of working with iiSnap?</dt>
            <dd>
                <ul style="list-style-type: symbols('-')">
                    <li>Focus selling of your "Hero" product to our shopping club members</li>
                    <li>Test and validate market demand and value of new products</li>
                    <li>Increase sales using our incentive reward system</li>
                    <li>Create product and brand awareness</li>
                    <li>We present your product on attractive and unique interface</li>
                    <li>Sell stock fast an in high volume</li>
                </ul>
            </dd>
            <dt>How do you keep my MRSP position in the market place?</dt>
            <dd>
                We respect your business and we will work with you to insure you are satisfied with the proposed Reserved Price.<br />
                <h4>We don't need to crush prices to generate sales!</h4>
                <ul style="list-style-type: symbols('-')">
                    <li>We only select "cool" products that have mass appeal nature</li>
                    <li>We incentivise our customers using our special reward system</li>
                    <li>We are using social network to create an interest around a product offering</li>
                    <li>Our model works around a "special" category sale that runs for 3-5 days VS ongoing deals like other sites</li>
                </ul>
            </dd>
            <dt>How can I do more business with iiSnap?</dt>
            <dd>
                <ol>
                    <li>Having stock in your Inventory increases the amount of products you can list with us</li>
                    <li>Always suggest us your "Hero" products, mass appeal is the name of the game</li>
                    <li>et us know when you have stock that sits in your warehouse for the following reasons; discontinue lines, cancelled orders or overstock</li>
                </ol>
            </dd>
            <dt>Can I submit as many products as I want?</dt>
            <dd>While we allow you to add new products to your supplier account, each product going through a Review process. Adding a product to your list <strong>does not</strong> mean we are going to be offering it to our customers. <br />If a product dose not pass our review process it wont be listed.</dd>
            <dt>How does iiSnap meet our MOQ requirements?</dt>
            <dd>
                We are product focused, your product!<br />We carefully select our suppliers to insure we can deliver mass appeal goods to our shoppers. Our selling algorithm allows us to sell high volume goods per listing rater than a few items per listing.
                <ul style="list-style-type: symbols('-')">
                    <li>We launch low number of sales at a given time to maximize traffic per item</li>
                    <li>We market your goods on our advertising campaign and create direct response</li>
                    <li>We provide rewards to our shoppers so we can increase engagement per listing</li>
                </ul>
            </dd>
            <dt>How dose the order process works?</dt>
            <dd>
                <strong>Stock Orders</strong> (placing an order based on existing stock you have in your warehouse)<br />
                <ol>
                    <li>Our marketing team review and edit the product information you have provided to ensure images, videos and content is well presented and ready to be listed on our site</li>
                    <li>We confirm your stock inventory before listing goes live</li>
                    <li>The sale goes live for 48 - 72 hours</li>
                    <li>We make payment and pick up the stock</li>
                </ol>
                <br />
                <strong>Production Orders</strong> (placing an order based on manufactures MOQ requirement)
                <ol>
                    <li>Our marketing team review and edit the product information you have provided to ensure images, videos and content is well presented and ready to be listed on our site</li>
                    <li>We place an order and confirm lead time and pickup</li>
                    <li>We make 30% deposit payment to start manufacturing</li>
                    <li>We make balance payment and pick up the stock</li>
                </ol>
            </dd>
        </dl>
    </div>
</div>