@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
    ViewBag.Title = "Seller";
}

<div class="sellers">
    <div class="top-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="why-iisnap">
                        <div>
                            <h2>Why iiSnap is such a great place to sell?</h2>
                            <p>
                                Our unique selling model allows shoppers to use social sharing to achieve great value when they buy and create high demand for specific product.
                            </p>
                            <p>
                                iiSnap  platform allows you, as a seller, the opportunity to sell, validate and present your offering to a socially driven shopping community and create a discussion around your offering.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="steps standard-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <span>01</span> <a href="/Seller/Register" class="btn">Register</a> on iiSnap
                </div>
                <div class="col-sm-4 text-center">
                    <span>02</span> Review the opportunity
                </div>
                <div class="col-sm-4 text-center">
                    <span>03</span> Start selling
                </div>
            </div>
        </div>
    </div>
    <div class="opportunities standard-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>Here are some of the great opportunities we offer our partners</h2>
                </div>
            </div>
            <div class="row opportunity">
                <div class="col-md-6 col-md-offset-3">
                    <div><i class="fa fa-check"></i>Focus selling of your hero product to our shopping club members</div>
                </div>
            </div>
            <div class="row opportunity">
                <div class="col-md-6 col-md-offset-3">
                    <div><i class="fa fa-check"></i>Test and validate market demand and value of new products</div>
                </div>
            </div>
            <div class="row opportunity">
                <div class="col-md-6 col-md-offset-3">
                    <div><i class="fa fa-check"></i>Increase sales using our incentives reward system</div>
                </div>
            </div>
            <div class="row opportunity">
                <div class="col-md-6 col-md-offset-3">
                    <div><i class="fa fa-check"></i>Turn your overstock flow into cash flow</div>
                </div>
            </div>
            <div class="row opportunity">
                <div class="col-md-6 col-md-offset-3">
                    <div><i class="fa fa-check"></i>Our sale model design to reach suppliers MOQ</div>
                </div>
            </div>
            <div class="row opportunity">
                <div class="col-md-6 col-md-offset-3">
                    <div><i class="fa fa-check"></i>We manage the sale process for you</div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="port-item text-center">
                        <i class="fa fa-database"></i>
                        <p>Create a new revenue channel</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="port-item text-center">
                        <i class="fa fa-database"></i>
                        <p>Reach desired MOQ</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="port-item text-center">
                        <i class="fa fa-database"></i>
                        <p>Validate market demand</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard-section">
        <div class="container text-center">
            <h2>What kind of partners sell on iiSnap?</h2>
            <p>
                We partner with manufactures, wholesalers, retailers and product creators that have great quality products and can offer fast and effective orders fulfilment and great service. If you have a hero product, branded goods and great offering, we would love to hear from you.
            </p>
        </div>
    </div>
    <div class="standard-section yellow-bg">
        <div class="container text-center">
            <h1>Let's work together!</h1>
            <p>
                <a class="btn btn-lg btn-default" style="border: 1px solid #333 !important;" href="/Seller/Register">Drop us a line</a>
            </p>
        </div>
    </div>
    <div class="standard-section">
        <div class="container text-center">
            <h1>
                <img src="~/Content/Images/xxl-logo.png" />
            </h1>
            <p>
                How can I find out more? Learn how it works? <a href="mailto:sellers@iisnap.com">Contact</a> iiSnap partnership team.
            </p>
        </div>
    </div>
</div>
