@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
    ViewBag.Title = "Seller Registration Completed";
}

<div class="sellers">
    <div class="standard-section registered">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2 text-center">
                    <h2 class="green-bg">Your request has been sent!</h2>
                    <br />
                    <p>
                        Thank you for registering your interest with iiSnap. Representative from our partnership department will review your request and will be in touch with you asap!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>