@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/content/images/iisnap.ico">
    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,400italic,600italic,700italic,800italic" rel="stylesheet" type="text/css">

    <title>iiSnap - Administration</title>

    @Styles.Render("~/Content/css")
</head>
<body ng-app="iisnapApp" class="admin">
    <header>
        @Html.Partial("_MAdminNav")
    </header>
    <main class="grey lighten-5">
        @RenderBody()
    </main>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular-cookies.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/account.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
