@using SNAPME.Web.Helpers;
<nav ng-controller="accountController">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="/content/images/logo.png" /></a>
            <span>Management</span>
            <ul id="nav-mobile" class="right">
                @if (Request.IsAuthenticated)
                {
                    <li><a class="dropdown-button" href="#!" data-activates="accountMenu"><img src="@User.Identity.ProfileImage()" /> @User.Identity.DisplayName()<i class="material-icons right">arrow_drop_down</i></a></li>
                }
                else
                {
                    <li>
                        <form action="/Account/ExternalLogin" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn waves-effect waves-light btn-facebook" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account"><i class="fa fa-facebook-f"></i>Sign in / Register</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <ul id="accountMenu" class="dropdown-content">
            <li><a href="/MyAccount">My Account</a></li>
            <li><a href="/MyAccount/Dashborad">Dashboard</a></li>
            <li><a href="/MyAccount/Rewards">Reward Center</a></li>
            <li><a href="/Account/Friends">Friends on iiSnap</a></li>
            <li class="divider"></li>
            @if (User.IsInRole("Administrator"))
            {
                <li><a href="/Admin/Products">Products</a></li>
                <li class="divider"></li>
            }
            <li><a href="#!" ng-click="logoff($event)">Sign out</a></li>
        </ul>
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hide" }))
        {
            @Html.AntiForgeryToken()
        }
    }
</nav>
