<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
    <connectionStrings>
      <add name="MongoDB"
        connectionString="mongodb://appharbor:d8fd8ebc8e993188e83b625ab12b2d99@troup.mongohq.com:10082/cafa3343_f09f_49d1_adfd_83935b2bffa7"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="FacebookAppId" value="1538671469743959" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FacebookAppSecret" value="a4ad513cfb42e1d74a08eae82762a828" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DBName" value="cafa3343_f09f_49d1_adfd_83935b2bffa7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^iisnap.com$" />
          </conditions>
          <action type="Redirect" url="http://www.iisnap.com/{R:0}"
                  redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
