@model SNAPME.Web.Models.Account.MyAccountFavoritesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Favorites";
}

<div class="container-fluid white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_AccountMenu", Model)
            </div>
            <div class="col-md-9">
                <h3 class="text-center">FAVORITES</h3>
                <hr />
                @if (!Model.Favorites.Any())
                {
                    <div class="text-center">
                        <h4>Hi @((User.Identity as System.Security.Claims.ClaimsIdentity).Name)! You've yet to add a product to your Favorites list!</h4>
                        <h5>Check out our <a href="/">Sales Page</a> and choose the products you want! We will let you know each time a sale will start on one of them.</h5>
                        <div>
                            Not sure how it works? Check out our <a href="/Home/FAQ">FAQ</a>?
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

