<md-dialog style="padding: 0 5px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>iiSnap - How it works?</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/QDlVWDBfPEE?rel=0" frameborder="0" allowfullscreen></iframe>
    </md-dialog-content>
</md-dialog>