@{
    ViewBag.Title = "About";
}

<div class="about">
    <div class="about-social-power">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7 text-center">
                    <h2>Social Power that helps you Pay Less</h2>
                    <div>snap, share and save on things you really want</div>
                    <br />
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-how-it-works">
        <div class="container">
            <h2 class="text-center">How Does It Work</h2>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

    <div class="about-register">
        <div class="container">
            <div class="text-center">
                <h3>What are you waiting for? Register now, it's Free!</h3>
                <a class="btn btn-transparent btn-lg" data-toggle="#registerModal">Register</a>
            </div>
        </div>
    </div>

    <div class="about-benefits">
        <div class="container">
            &nbsp;
        </div>
    </div>

    <div class="about-more-questions">
        <div class="container">
            &nbsp;
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () { setActiveMenu("mnuAbout") });
    </script>
}