@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Coming Soon";
}

<div class="coming-soon">
    <div class="top-banner">
        <div class="container">
            <h2 class="text-center">Revolutionize Online Shopping Experience</h2>
            <br />
            <div class="col-md-10 col-md-offset-1">
                <h4>iiSnap is a social shopping site that let members drops the price of the products the like by raising the demand using their social network</h4>
            </div>
        </div>
    </div>
    <div class="early-birds">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Early Birds Special</h2>
                    <p>Receive a one year free membership and exclusive pick into our site before we launch.</p>
                    <div class="row">
                        <form method="post" action="/Account/EarlyBird">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Email Address" />
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-block btn-snapme">Let me know</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h2>When will iiSnap Launch?</h2>
                    <h4>Very soon.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="sharing-saving">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Sharing is Saving</h2>
                    <h4>iiSnap is the world most rewarding social shopping experience</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="~/Content/Images/benefit1.png" />
                    <br />
                    <div>Become a bargain hero</div>
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/Content/Images/benefit2.png" />
                    <br />
                    <div>A fun way to shop for less</div>
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/Content/Images/benefit3.png" />
                    <br />
                    <div>Save for anything you buy guaranteed</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>