@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid contact-us">
    <h2 class="text-center">We are here to help</h2>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () { setActiveMenu("mnuContact") });
    </script>
}