@model SNAPME.Web.Models.Home.HomepageModel
@using SNAPME.Web.Core;

@{
    ViewBag.Title = "How does it work?";
}


<div class="container">
    <div id="carousel-howitworks" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h1>Discover Amazing Products Handpicked just for You!</h1>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <img src="~/Content/Images/img-step1.png" />
                    </div>
                </div>
            </div>
            <div class="item">
                <h1>Join a Sale to Drop the price on products you want</h1>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <img src="~/Content/Images/img-step2.png" />
                    </div>
                </div>
            </div>
            <div class="item">
                <h1>Shop with Friends and Earn Rewards!</h1>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <img src="~/Content/Images/img-step3.png" />
                    </div>
                </div>
            </div>
            <div class="item">
                <h1>Checkout with a Smile!</h1>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <img src="~/Content/Images/img-step4.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

    </script>
}