@model SNAPME.Web.Models.Home.HomepageModel
@using SNAPME.Web.Core;

@{
    ViewBag.Title = "How does it work?";
}


<div class="how-it-works">
    <div class="container-fluid">
        <div class="container">
            <div id="carousel-howitworks" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <h1>Discover Amazing Products Handpicked just for You!</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center text-vcenter">
                                    Browse our Sales page to discover new and exciting products.<br />
                                    We work hard to deliver you that extra special something every time you buy on iiSnap.
                                </div>
                            </div>
                            <div class="col-md-8 text-center">
                                <img class="img-responsive" src="~/Content/Images/img-step1.png" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h1>Join a Sale to Drop the price on products you want</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center text-vcenter">
                                    Join the sale to Drop the price and watch it dropping further as more and more people join it.<br />
                                    You will only pay the price the sale closed on!<br />
                                    The sale ends when the time is up or we ran out of stock.
                                </div>
                            </div>
                            <div class="col-md-8 text-center">
                                <img class="img-responsive" src="~/Content/Images/img-step2.png" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h1>Shop with Friends and Earn Rewards!</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center text-vcenter">
                                    It's more fun to shop with your friends, especially when you are rewarded for bringing them to join the sale.<br />
                                    Invite your friends to join and earn Snap Points!<br />
                                    View your friends activities, and discuss the things you liked.
                                </div>
                            </div>
                            <div class="col-md-8 text-center">
                                <img class="img-responsive" src="~/Content/Images/img-step3.png" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h1>Checkout with a Smile!</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center text-vcenter">
                                    When the time is up, the Checkout button will become available and you can complete your purchase!<br />
                                    Any Snap Points you have earned during the sale will be added to your account for future purchases.
                                </div>
                            </div>
                            <div class="col-md-8 text-center">
                                <img class="img-responsive" src="~/Content/Images/img-step4.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carousel-howitworks" data-slide-to="0" class="active"><span>01</span><div>Explore</div></li>
                    <li data-target="#carousel-howitworks" data-slide-to="1"><span>02</span><div>Join the Sale</div></li>
                    <li data-target="#carousel-howitworks" data-slide-to="2"><span>03</span><div>Be Social</div></li>
                    <li data-target="#carousel-howitworks" data-slide-to="3"><span>04</span><div>Checkout</div></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row snap-map">
            <div class="col-md-4 col-md-offset-4 text-center">
                @*<img src="~/Content/Images/snap-map.png" alt="iiSnap Map" class="img-responsive" />*@
                @Html.Partial("_ProductBox", new SNAPME.Tokens.ProductToken { id = "000000000000000000000000", name = "iiSnap Sample Product", Sale = new SNAPME.Tokens.SaleToken { current_price = 99.87F } })
                <br />
                <div>Hover with the pointer over various parts of the Product box to see what they mean.</div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle=popover]').popover({ trigger: 'hover' });
            $('.ovr-group').on('click', function () { $(this).closest('.product-box').find('.social').show('slow'); });
            $('.ovr-close').on('click', function () { $(this).closest('.social').hide('slow'); });
        });
    </script>
}