@model SNAPME.Web.Models.Home.HomepageModel
@using SNAPME.Web.Core;

@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "Welcome";
}

@section openGraph{
    <meta name="twitter:title" content="iiSnap - Now you can afford anything you want">
    <meta name="twitter:description" content="Get the best prices with a little help from your friends">
    <meta name="twitter:image" content="http://www.iisnap.com/content/images/iisnap_fb_share.png">
    <meta property="og:title" content="iiSnap - Now you can afford anything you want">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.iisnap.com/">
    <meta property="og:description" content="Get the best prices with a little help from your friends">
    <meta property="og:image" content="http://www.iisnap.com/content/images/iisnap_fb_share.png">
}

<div ng-app="iisnapApp" ng-controller="salesController">
    <div class="featured-products">
        <div class="slider">
            <ul class="slides">
                <li ng-repeat="featured_product in featured_sales track by featured_product.id">
                    <img src="/image/{{featured_product.product_id}}/5" ng-cloak />
                    <div class="container">
                        <div class="featured-sale" ng-click="openProduct(featured_product.name, featured_product.product_id)">
                            <div class="row">
                                <div class="col l5">
                                    <div class="white-bg">
                                        <div class="product-image" style="background-image: url(/image/{{featured_product.product_id}}/6)"></div>
                                    </div>
                                </div>
                                <div class="col l7">
                                    <div class="white-bg">
                                        <div class="product-name">{{featured_product.name}}</div>
                                        <div class="product-slogan">{{featured_product.summary}}</div>
                                        <div class="product-price">
                                            <div class="start">${{Math.floor(featured_product.retail_price)}}.<span>{{featured_product.retail_price.toFixed(2).toString().substr(-2)}}</span></div>
                                            <div class="end">${{Math.floor(featured_product.target)}}.<span>{{featured_product.target.toFixed(2).toString().substr(-2)}}</span></div>
                                            <div style="clear: both;"></div>
                                            <i class="fa fa-flag-checkered right"></i>
                                            <div class="range">
                                                <div class="progress white">
                                                    <div class="determinate amber lighten-1" style="width: {{featured_product.progress}}%;"></div>
                                                </div>
                                                <div class="indicator amber lighten-1" style="left: {{featured_product.progress - 1}}%"></div>
                                            </div>
                                        </div>
                                        <div class="current-price left">${{Math.floor(featured_product.price)}}.<span>{{featured_product.price.toFixed(2).toString().substr(-2)}}</span></div>
                                        <div class="current-action right">
                                            <a class="waves-effect waves-light btn-large join modal-trigger" href="#payment">Join Sale</a>
                                        </div>
                                        <div class="points">
                                            <div class="collect left">Collect +{{featured_product.points}} Snap Points upon checkout</div>
                                            <div class="invite right">
                                                <i class="fa fa-facebook-f"></i>invite<span class="amount">+ 25 SP</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="experience center-align">
        Want to buy what you want for the price you want <a class="modal-trigger" href="#about">Watch Video <i class="fa fa-play-circle"></i></a> and discover how.
    </div>

    <div class="grey lighten-5">
        <div class="container">
            <div class="row sales-list">
                <div class="col l4 m6 s12" ng-repeat="product in sales track by product.id">
                    <div class="card product hoverable" title="{{product.name}}" ng-cloak ng-click="openProduct(product.name, product.product_id)">
                        <div class="card-image">
                            <div class="product-image" style="background-image:url(/image/{{product.product_id}}/0)"></div>
                            <div class="product-actions" ng-show="authenticated">
                                <a href="#" ng-class="{active: product.likes}" ng-click="likeProduct($event, product)"><i class="fa fa-thumbs-o-up"></i></a>
                                <a href="#" ng-class="{active: product.favors}" ng-click="favorProduct($event, product)"><i class="fa fa-heart-o"></i></a>
                                <a href="#" ng-class="{active: product.has_activity}" ng-show="product.has_activity" ng-click="showSocialActivity($event, product)"><i class="fa fa-users"></i></a>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="product-price">
                                <div class="start left">${{Math.floor(product.msrp)}}.<span>{{product.msrp.toFixed(2).toString().substr(-2)}}</span></div>
                                <div class="end right">${{Math.floor(product.target)}}.<span>{{product.target.toFixed(2).toString().substr(-2)}}</span></div>
                                <div class="range">
                                    <div class="progress grey lighten-2">
                                        <div class="determinate amber lighten-1" style="width: {{product.progress}}%;"></div>
                                    </div>
                                    <div class="indicator amber lighten-1" style="left: {{product.progress - 1}}%"></div>
                                    <div class="drops-counter amber lighten-1" style="left:{{Math.min(83, Math.max(13, product.progress - 1))}}%">{{product.drops}} Drops</div>
                                    <div class="current-price grey darken-4" style="left:{{Math.min(83, Math.max(13, product.progress - 1))}}%">${{Math.floor(product.price)}}.{{product.price.toFixed(2).toString().substr(-2)}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-title">{{product.name}}</div>
                        <div class="card-sub-title">{{product.summary}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l4 offset-l4 center-align">
                    <a class="btn-large transparent"><i class="fa fa-plus"></i>&nbsp;More Sales</a>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="modal">
        <div class="modal-content">
            <div class="video-container no-controls">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/rJT4Pny1xI4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div id="payment" class="modal">
        <div class="modal-content">
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_zg8Be3jZqF7vBNEI20vvBVSX"
                        data-image="https://s3.amazonaws.com/stripe-uploads/acct_16l2EVB0fmmxLkFSmerchant-icon-1442257503736-iisnap_fb_logo.png"
                        data-name="iiSnap"
                        data-description="2 widgets"
                        data-currency="aud"
                        data-amount="2000"
                        data-billing-address="true"
                        data-shipping-address="true"
                        data-locale="auto">
                </script>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/index.js"></script>
    <script>
        $(function () {
            //function actDemo() {
            //    Materialize.toast('<img src="http://graph.facebook.com/10152299152237123/picture?type=square" class="circle" onerror="this.src = \'/Content/Images/default-avatar.png\'"><span>' + names[Math.floor(Math.random() * 1000 % 50)] + ' has just favoured this product.</span>');
            //}

            //var names = ['Woodrow Barber', 'Roger Gill', 'Andre Neal', 'Nancy Castillo', 'Joanna Kelly', 'Randal Brady', 'Richard Lopez', 'Leah Lindsey', 'Dianna Mckenzie', 'Yvonne Walters', 'Johnnie Park', 'Danny Bailey', 'Ron Rivera', 'Kerry Freeman', 'Toby Wallace', 'Mike Gonzales', 'Bryan Murphy', 'Wanda Beck', 'Anthony Richards', 'Clay Rhodes', 'Alfredo Berry', 'Lynette Mathis', 'Elijah Christensen', 'Jan Kennedy', 'Greg Lambert', 'Enrique Curry', 'Ed Cooper', 'Judy Underwood', 'Fred Delgado', 'Nicole Jones', 'Elbert Fitzgerald', 'Edward Holmes', 'Dominic Salazar', 'Irma Wilkerson', 'Abel Gibbs', 'Gerardo Gardner', 'Arlene Griffin', 'Lana Ward', 'Wilson Chambers', 'Tami Andrews', 'Inez Clark', 'Delia Chapman', 'Armando Todd', 'Valerie Higgins', 'Jaime Yates', 'Bennie Bradley', 'Lorraine Estrada', 'Kendra Bowen', 'Christina Gregory', 'Kim Burgess'];
            //var _demo = setTimeout(actDemo, 4000);
            //actDemo();
        });
    </script>
}