@model SNAPME.Web.Models.Home.HomepageModel
@using SNAPME.Web.Core;

@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "Welcome";
}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col l5 offset-l1 white-text">
                <h3>This shopping revolution that starts with you</h3>
            </div>
        </div>
    </div>
</div>

<div class="nav-tabs">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs main-tabs z-depth-1">
                    <li class="tab first col s3"><a class="active" href="#snappingNow">Snapping Now</a></li>
                    <li class="tab col s3"><a href="#snappingSoon">Snapping Soon</a></li>
                    <li class="tab last col s3"><a href="#myFavorites">My Favorites</a></li>
                </ul>
                <div id="snappingNow" class="col s12">
                    <div class="row">
                        @foreach (var item in Model.ActiveSales)
                        {
                            Html.RenderPartial("_ProductBox", item);
                        }
                    </div>
                </div>
                <div id="snappingSoon" class="col s12">Test 2</div>
                <div id="myFavorites" class="col s12">Test 3</div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('body').addClass('grey lighten-4');
        });
    </script>
}