@model SNAPME.Web.Models.Home.HomepageModel
@using SNAPME.Web.Core;

@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "Welcome";
    int maxActiveSales = Math.Min(3, Model.ActiveSales.Count());
}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col l5 offset-l1 white-text">
                <h3>This shopping revolution that starts with you</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">Active Sales</h5>
        </div>
        @for(int i = 0; i < 3 && i < maxActiveSales; i++)
        {
            Html.RenderPartial("_ProductBox", Model.ActiveSales.ElementAt(i));
        }
    </div>
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col s6 m4 l2">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="@string.Format("/content/images/categories/{0}.jpg", category.name)">
                    </div>
                    <div class="card-content">
                        <a href="/Category/@category.name">@category.name</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('body').addClass('grey lighten-4');

            function actDemo() {
                Materialize.toast('<img src="http://graph.facebook.com/10152299152237123/picture?type=square" class="circle" onerror="this.src = \'/Content/Images/default-avatar.png\'"><span>' + names[Math.floor(Math.random() * 1000 % 50)] + ' has just favoured this product.</span>');
            }

            var names = ['Woodrow Barber', 'Roger Gill', 'Andre Neal', 'Nancy Castillo', 'Joanna Kelly', 'Randal Brady', 'Richard Lopez', 'Leah Lindsey', 'Dianna Mckenzie', 'Yvonne Walters', 'Johnnie Park', 'Danny Bailey', 'Ron Rivera', 'Kerry Freeman', 'Toby Wallace', 'Mike Gonzales', 'Bryan Murphy', 'Wanda Beck', 'Anthony Richards', 'Clay Rhodes', 'Alfredo Berry', 'Lynette Mathis', 'Elijah Christensen', 'Jan Kennedy', 'Greg Lambert', 'Enrique Curry', 'Ed Cooper', 'Judy Underwood', 'Fred Delgado', 'Nicole Jones', 'Elbert Fitzgerald', 'Edward Holmes', 'Dominic Salazar', 'Irma Wilkerson', 'Abel Gibbs', 'Gerardo Gardner', 'Arlene Griffin', 'Lana Ward', 'Wilson Chambers', 'Tami Andrews', 'Inez Clark', 'Delia Chapman', 'Armando Todd', 'Valerie Higgins', 'Jaime Yates', 'Bennie Bradley', 'Lorraine Estrada', 'Kendra Bowen', 'Christina Gregory', 'Kim Burgess'];
            //var _demo = setTimeout(actDemo, 4000);
            actDemo();
        });
    </script>
}