@model SNAPME.Web.Models.Home.HomepageModel
@using SNAPME.Web.Core;

@{
    ViewBag.Title = "Welcome";
}

<div class="container">
    <div id="carousel-home" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
            <li data-target="#carousel-home" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="hero-product red">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img src="http://24.media.tumblr.com/77d820ec2b121a8e3a657464ccd6069c/tumblr_mlehly75HH1s5jjtzo1_500.png" class="img-responsive" />
                        </div>
                        <div class="col-md-7 text-right">
                            <h1>Product Name</h1>
                            <h4>Basic product description to catch the eye of the user and make him click on the product button</h4>
                            <a class="btn btn-lg btn-black">Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="hero-product green">
                    <div class="row">
                        <div class="col-md-7 text-left">
                            <h1>Product Name</h1>
                            <h4>Basic product description to catch the eye of the user and make him click on the product button</h4>
                            <a class="btn btn-lg btn-black">Details <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-5">
                            <img src="http://www.andnow.com/images/Canon5Dwt.png" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="hero-product purple">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="http://24.media.tumblr.com/77d820ec2b121a8e3a657464ccd6069c/tumblr_mlehly75HH1s5jjtzo1_500.png" class="img-responsive" />
                        </div>
                        <div class="col-md-7 text-right">
                            <h1>Product Name</h1>
                            <h4>Basic product description to catch the eye of the user and make him click on the product button</h4>
                            <a class="btn btn-lg btn-black">Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="hero-product blue">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="http://24.media.tumblr.com/77d820ec2b121a8e3a657464ccd6069c/tumblr_mlehly75HH1s5jjtzo1_500.png" class="img-responsive" />
                        </div>
                        <div class="col-md-7 text-right">
                            <h1>Product Name</h1>
                            <h4>Basic product description to catch the eye of the user and make him click on the product button</h4>
                            <a class="btn btn-lg btn-black">Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () { setActiveMenu("mnuHome") });
    </script>
}