@{
    ViewBag.Title = "Sell on iiSnap";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

<div class="container" ng-app="iisnapApp" ng-controller="contactController" ng-init="init('seller')" ng-cloak>
    <h3 class="center-align">Sell your products on iiSnap</h3>
    <div class="center-align">
        Have some great, high-quality products? Want to sell them for masses while offering competitive prices?<br />
        Fill ou the following form and we will contact you for further details and ways to collaborate!
    </div>
    <div ng-hide="sent">
        <form name="contactForm" ng-submit="submitForm($event, contactForm.$valid)" novalidate>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input placeholder="Name" name="name" ng-model="data.name" type="text" class="validate" ng-class="{invalid : contactForm.$submitted && contactForm.name.$invalid}" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input placeholder="Email" name="email" ng-model="data.email" type="email" class="validate" ng-class="{invalid : contactForm.$submitted && contactForm.email.$invalid}" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <textarea placeholder="What's on your mind?" name="details" ng-model="data.details" class="materialize-textarea validate" ng-class="{invalid : contactForm.$submitted && contactForm.details.$invalid}" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn btn-large waves-effect waves-light yellow darken-1">Submit <i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="sent" style="margin-top: 30px;">
        <h5 class="center-align">Your request was submitted. Out team will contact you shortly.</h5>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/contact.js"></script>
}